<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>보낸쪽지함</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  

<style type="text/css">
	
	.dropdown-toggle::after {
   border: none !important;
}
.messageSelect{
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    margin-left: 70%;
}

.pagination {
	justify-content: center;
	margin: 20px;
}

.pagination li {
	padding: 0px;
}

.page-link {
	color: black !important;
}

.page-item.active .page-link {
	background-color: rgb(179,220,248) !important;
	border-color: rgb(179,220,248) !important;
	color: white !important;
}


.reportOption{
 text-align: center;
 width: 40%;
 float: left;
 font-weight: bold;
}
#reportBody{
 border: 1px solid #ccc;
 padding: 5px;
}
.reportContent{
text-align: center;
 width: 59.5%;
 float: right;
}
#reportClose{
    padding: 9px;
    height: 40px;
    margin: 0px;
        width: 36px;
}
#reprotContentOption{
    height: 93px;
}
#reportHeader{
padding: 1.5rem 40px 1rem;
font-weight: bold;
}
#reportForm{
margin: 0px;
}
#reportForm input{
 border: 0.5px solid;
 border-radius: 3px;
 margin: 0.6px;
}
#reportForm select{
    border: 1px solid;
    border-radius: 3px;
    height: 50px;
        padding-left: 40px;
}
#reportForm textarea{
height: 90px !important;
    border: 1px solid;
    padding: 10px;
    margin-top: 2px;
    border-radius: 3px;
    text-align: left;
}
#reportCancel,#reportRegister{
 background-color: white;
   color: rgb(66, 161, 226) !important;
   text-align: center;
   display: inline-block;
   margin: 0px;
   cursor: pointer;
   padding: 9px 2px 2px 2px;
   width: 100px;
   height: 50px;
   border: 1px solid ;
   border-radius: 3px;
   margin: 5px;
   font-size: 19px;

}
.commentModifyBtn{
    height: 62px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
</style>	

</head>
<body>


<div id="main" layout:fragment="main">
<div class="inner">
	<div class="row">
	<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" style="height: 500px;">
				<ul class="nav nav-pills flex-column">
				
					<li class="nav-item">
						<a class="nav-link" href="/message/messageWrite">쪽지쓰기</a>
						<a class="nav-link" href="/message/receiveMessage">받은쪽지함</a>
						<a class="nav-link" href="/message/sendMessage">보낸쪽지함</a>
					
					</li>   	
				</ul>
	</nav>
<div class="row" style="width: 86%">
<div class="col-sm-9">
<h2>보낸쪽지함</h2>
<form name="checkdelete" id="checkdelete" th:action = @{/message/sendCheckdelete}>
<div class = "messageBar" style="margin-bottom: 1%;">
<input type="submit" value="삭제" id="deletebtn"  style="background-color:rgb(179,220,248);"/>
<select class="messageSelect">
	<option value="5" th:selected="${pageDTO.size} == '5'">5개씩 </option>
	<option value="10" th:selected="${pageDTO.size} == '10'">10개씩 </option>
	<option value="15" th:selected="${pageDTO.size} == '15'">15개씩 </option>
</select> 	
</div>

<table th:inline ="text" class="table" border ="1" th:with="list=${sendList.list}">
	<tr>
		<!-- <td>번호</td> -->
		<td scope="col"><input class="allCheck" id="allCheck" type="checkbox" /></td>
		<td>받는사람</td>
		<td>내용</td>
		<td>날짜</td>
		<!-- <td>삭제여부</td> -->
	</tr>
		
	
	<tr th:each = "send : ${list}">
	<!-- 	<td th:text=" ${send.messageSendId}"/> -->
	    <td class="text_ct">
		<input class="RowCheck" name="RowCheck" id="RowCheck" type="checkbox" th:value="${send.messageSendId}"/></td>
	
		
		<td> <div class="dropdown">
		   <a class="dropdown-toggle" data-toggle="dropdown" th:text="${send.receiveId}"></a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" data-toggle="modal" data-target="#messagewrite" th:data-receive-id="${send.receiveId}" >쪽지쓰기</a>
		      <a class="dropdown-item" data-toggle="modal" data-target="#memberinfo" th:data-member-info="${send.receiveId}" >유저정보</a>
	    	  <a class="dropdown-item" data-toggle="modal" data-target="#reportModal" th:data-member-info="${send.receiveId}" >신고하기</a>
	    	</div>
	 </div></td>
		
		<td><a th:href="@{'/message/viewSendmessage/'(messageSendId=${send.messageSendId})}" th:text="${send.messageContent}" ></a></td>
		
		<td th:text="${send.messageDate}"/>
	<!-- 	<td th:text="${send.messageDelete}"/> -->
	</tr>	
</table>
</form>

	
	<!-- 모달창 쪽지쓰기창 시작 -->   
	 <div class="modal" id="messagewrite">
		      	<div class="modal-dialog">
		      		<div class="modal-content">
		      		
				        <div class="modal-header">
				          <h4 class="modal-title">쪽지쓰기</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        
				        
				        <div class="modal-body">
				          
                    <form method="POST" action="/modalmessageWriteResult" name="modalmessage">
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2" style="width: 100%;">
                                    <h3><i class="fa fa-envelope"></i> </h3>
                                    <p class="m-0">쪽지쓰기</p>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="border: solid 1px;"><i class="fa fa-user text-info"></i></div>
                                        </div> 
                                        <input type="text" class="form-control" id="receiveId" name="receiveId" placeholder="받는사람을 입력해주세요." value="" required style="margin-left: 1%;
    											border: solid 1px;">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend" style="border: solid 1px;border-radius: 5px; margin-bottom: 1%;">
                                            <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                        </div>
                                        <div class="textarea-wrapper" style="width: 100%; border:solid 1px; border-radius: 5px;">
                                        <textarea class="form-control" name="messageContent" id="messageContent" placeholder="내용을 입력해주세요."  required></textarea>
                                        </div> 
                                    </div>
                                </div>
                                <div class="text-center" style="width:100%;">
                               	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
                                    <input type="submit" value="전송하기" class="btn btn-info btn-block rounded-0 py-2" id="gomessage">
                                </div>
                            </div>
                        </div>
                    </form>
				        </div>

         						
                                        
                                 

				        <div class="modal-footer">
				          <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>
				        </div>
		      		</div>
		      	</div>
		      </div>
		      
		      <!-- 모달창 쪽지쓰기창 끝 -->
		      
		      <!-- 모달창 유저정보 시작 -->
				<div class="modal" id="memberinfo">
				  <div class="modal-dialog">
				    <div class="modal-content" style="background-color:white";>
				
				      <!-- Modal Header -->
				      <div class="modal-header">
				        <h4 class="modal-title">회원정보</h4>
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>
				
				      <!-- Modal body -->
				      <div class="modal-body2" id="modal_memberInfolist" style="text-align: center;">
				      
				      </div>
				
				      <!-- Modal footer -->
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				      </div>
				
				    </div>
				  </div>
				</div>
				
				  <!-- 모달창 유저정보 끝 -->
				  
				   <!-- 신고 modal  -->

         <div class="modal fade" id="reportModal" tabindex="-1">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                    <div>
                     <h3 id= "reportHeader">신고하기</h3>
                     </div>
                     
                     <button class="close" id="reportClose" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body" id="reportBody" style="text-align: center;">
                     <form id="reportForm">
                       <input type="hidden" name = "reportTypeCD" value="message">
                  
                        <input type="hidden" name = "id" id="reportUser" value="">
                         <input type="hidden" name ="target" id="reportTarget" value="">
                     <div>
                        <input class="reportOption" type="text" value="신고자" readonly>
                        <input class="reportContent" id ="reportUserNickname"name="idNickname" type="text"
                           value="" readonly>
                           </div>
                           <div>
                            <input
                           class="reportOption" type="text" value="신고일" readonly>
                  <input class="reportContent" name="date" type="text" id="reportDate"
                           value=""
                           readonly> 
                           </div>
                           <div>
                           <input class="reportOption"
                           type="text" value="신고대상자" readonly> <input
                           class="reportContent" name="targetNickname" id="reportTargetNickname" type="text"
                           value="" readonly> 
                           </div>
                           <div>
                            <input
                           class="reportOption" type="text" value="신고유형" readonly>
                        <select class="reportContent" id="reportWhyCD" name="reportWhyCD">
                           <option value="1">영리목적 및 홍보성</option>
                           <option value="2">불법정보</option>
                           <option value="3">음란성 및 선정성</option>
                           <option value="4">욕설 및 인신공격</option>
                           <option value="5">개인정보노출</option>
                           <option value="6">반복게시 및 도배</option>
                           <option value="7">기타</option>
                        </select> 
                                 </div>
                                 <div>
                            <input class="reportOption" type="text" value="신고내용" id="reprotContentOption" readonly> <textarea class="reportContent" id="reportContent" name="content" placeholder="신고내용을 작성해주세요."
                           ></textarea>
                           </div>
                  </div>
                  <div class="modal-footer" id="reportFooter">
                     <a class="btn" id="reportCancel" data-dismiss="modal">취소</a>
                     <a class="btn" id="reportRegister" data-toggle="model" data-target="#reportConfirm">신고하기</a>
                     </form>
                  </div>

               </div>
            </div>

         </div>

      <!-- 신고 모달 끝 -->
				  
			

	
				<!-- 페이징   -->


					<nav>
						<div class="pageForm">
							<ul class="pagination">
								<li class="page-item" th:if="${sendList.prevPage}"><a
									class="page-link" th:href="${sendList.prevPage.pageNumber}+ 1">
										〈&nbsp&nbsp이전 </a></li>
								<li class="page-item" th:each="p:${sendList.pageList}"
									th:classappend="${p.pageNumber == sendList.currentPageNum -1}?active: '' "><a
									class="page-link" th:href="${p.pageNumber} +1">[[${p.pageNumber}
										+ 1]]</a></li>

								<li class="page-item" th:if="${sendList.nextPage}"><a
									class="page-link" th:href="${sendList.nextPage.pageNumber}+ 1">다음&nbsp&nbsp〉</a>
								</li>
							</ul>
						</div>
					</nav>

					<!--페이징 끝  -->


			<form id="pageForm" th:action="@{/message/sendMessage}" method="get">
					<input type="hidden" name="page" th:value="${sendList.currentPageNum}">
					<input type="hidden" name="size" th:value="${sendList.currentPage.pageSize}">
			</form>
			
			<form id="listForm" th:action="@{/message/sendMessageSelect}" method="get">						
					<input type="hidden" name="listCount" id="listCount">
			</form>
	

                                        
                                 

				        
				  
						      		
		      		
		      
		      
				
						 



	


</div>
</div>



</div>

<input type = "text" id ="userid" style = "display:none" th:value = "${session.userid}">
<input type = "text" id ="userNickname" style = "display:none" th:value = "${session.nickname}">

<script type="text/javascript">

// alert($('#userid').val());
var loginUser = $('#userid').val();
var loginNickname = $('#userNickname').val();
 var loginToday  = new Date().toLocaleString();	
 //ajax사용하기위한 전역변수
 var token = $("meta[name='_csrf']").attr("content");
 var header = $("meta[name='_csrf_header']").attr("content");
			
		$(document).ready(function(){
			
			//ajax사용
			 $(document).ajaxSend(function(e, xhr, options) {
		         xhr.setRequestHeader(header, token);
		     });
			
			
			 /*페이징*/
			var pageForm = $("#pageForm");
			var listForm = $("#listForm"); 
			 
			$(".pagination a").click(function(e){
			
				e.preventDefault();
				pageForm.find('[name="page"]').val($(this).attr('href'));
				pageForm.submit();
				
			});
			
		/*체크박스 전체선택*/
		$('.allCheck').click(function(){
			$('.RowCheck').prop('checked',this.checked);
		});
			
		/*몇개씩보기 선택*/
		$('.messageSelect').change(function(){
			
			 var listOpt = $(".messageSelect").val();
			 listForm.find("[name='listCount']").val(listOpt);
			 listForm.submit();
		});
		});

		$('#messagewrite').on('show.bs.modal', function(e) {
		    var receiveId = $(e.relatedTarget).data('receive-id');
		    $(e.currentTarget).find('input[name="receiveId"]').val(receiveId);
		});

		$('#memberinfo').on('show.bs.modal', function(e) {
		    var memberInfo = $(e.relatedTarget).data('member-info');
		    $(e.currentTarget).find('input[name="memberInfo"]').val(memberInfo);
		    
		    $.ajax({
		    	url: './modalmember',
		        type: 'GET', 
		        data: {id : memberInfo},
		        datatype: 'JSON',
		        success:function(data){
		        	var mydata = data
		        	var a = '';
		        	/* alert(mydata); */
		        	$("#img_profile").attr('src','/member_image/'+mydata.profileSaveName);
					if(mydata.visibility == 0){ 
						a += '<img id="img_profile" src="/member_image/'+mydata.profileSaveName+'" style="border-radius:100%; width:200px; height:120px;" /><br>'
						a +=  'Member ID :<font id="modal_memberId" name="modal_memberId" >'+mydata.id+'</font><br>'
						a += 'Member Nick Name : <font id="modal_memberNickname" name="modal_memberNickname">'+mydata.nickname+'</font><br>'
						a += '성별 : <font id="modal_memberGender" name="modal_memberGender">'+mydata.gender+'</font><br></div>'
					}else {
						a += '<p>비공개입니다</p>'
						
					}		
					$('.modal-body2').html(a);
						
			
		        },error : function(data, status, err){
		        	
		        	
		        	console.log(status + ":" + err);
		        }
		    });
		 
		});

		$('#gomessage').click(function(){
			
		 	alert("쪽지 전송이 완료되었습니다.")
		});
		
		$('#reportModal').on('show.bs.modal', function(e) {
            console.log("신고");
            
            var memberInfo = $(e.relatedTarget).data('member-info');
             $(e.currentTarget).find('input[name="memberInfo"]').val(memberInfo);
             console.log("memberInfo: " +memberInfo);
             $.ajax({
                   url: './modalmember',
                    type: 'get', 
                    data: {id : memberInfo},
                    success:function(data){
                       
                       $('#reportTarget').val(data.id);
                       $('#reportUser').val(loginUser);
                       $('#reportTargetNickname').val(data.nickname);
                       $('#reportUserNickname').val(loginNickname);
                       $('#reportDate').val(loginToday);
                       
                    },
                    
                    error : function(data){
                       console.log("실패");
                    }
                    });
         });
         
       //신고하기
          $('#reportRegister').click(function(){
         var reportData = $("#reportForm").serialize(); 
            console.log("reportData:" + reportData);
            
            if($('#reportTarget').val()== loginUser){
               Swal.fire("나를 신고 할수 없습니다.","");
            }else if($('#reportWhyCD').val()== ""){
               Swal.fire("신고유형을 선택해주세요.","");
            }else if($('#reportContent').val()== "" || $('#reportContent').val() == null || $('#reportContent').val() == '&nbsp;'){
               Swal.fire("신고내용을 입력해주세요.","");
            }
            else {
               reportInsert(reportData);
            }
        }); 
   
         function reportInsert(reportData){
            console.log(reportData);
            
            $.ajax({
                url : '/board/report',
                type :'post',
                data : reportData,
                success : function(){
                   console.log("성공");
                   Swal.fire("신고 처리 되었습니다.","");
                   $("#reportModal .close").click()
                },
                   
                error :function(){
                   console.log("실패");
                }
             });
         }; 
         
         $('#deletebtn').click(function(){
				
				alert("삭제가 완료되었습니다.");
			});


		
</script>
			
			
</div>
</div>
	
</body>
</html>