<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/mainLayout}">
<head>
<title>Study Detail View</title>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<style type="text/css">
</style>
</head>
<body>

	<div layout:fragment="main">
		<div class="inner">
			<h3>아이쿠!</h3>
			<h4>404 에러:<br/>
			찾으시는 페이지가 없습니다.</h4>
		</div>
	</div>

	<script type="text/javascript">
	</script>
</body>
</html>
