<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
<title>Study List View</title>
<style layout:fragment="customCss">
.heading {
	font-size: 0.9vm;
	font: bold;
	display: block;
	left: 20%;
	margin-top: 10px
}
.tiles{
	margin-top: 0px;
	margin-left: auto;
    margin-right: auto;
    display:inline-block;
    text-align: center;
}

h2 {
	font-size: 0.3vm;
}
</style>
</head>
<body>
	<div id="main" layout:fragment="main">
	<div class="inner">
			<div class="heading">
				<h3 th:if="${typeCode} eq 'p'">프리미엄 스터디</h3>
				<h3 th:if="${typeCode} eq 'b'">일반 스터디</h3>
				<h3 th:if="${typeCode} eq 'All'">전체 스터디</h3>
				<th:block th:if="${search}!=null">
				<p th:text="|검색조건  - 스터디명 : , 스터디타입 : ${typeCode} , 온오프 : ${onoffCode} , 레벨 : ${levelCode}|" style="font-weight: bold;font-style: italic;"></p>
				</th:block>
				<hr>
			</div>
			<div class="tiles" th:with="list=${pagedList.list}">
				<div class="card-container" th:each="study : ${list}">
					<div class="card">
						<div class="front">
							<div class="cover">
								<img th:src="'/images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'" >
								<div class="studyType" th:text="${typeCode} eq 'p'?${study.typeCode.codeValueKorean}:${study.typeCode.codeValueKorean}"></div>
								<div class="studyOnoff" th:text="${study.onoffCode.codeValueKorean}"></div>
							</div>
							<div class="profile_box">
								<div class="user">
									<img class="img-circle" src="/images/pic02.jpg" />
								</div>
								<th:block th:if="${typeCode} eq 'p'">
									<p class="profession" th:text="${study.member.name}" style="margin-bottom: 2px; font-weight: bold;">CEO</p>
									<p class="profession" th:text="${study.member.nickname}">CEO</p>
								</th:block>
								<th:block th:unless="${typeCode} eq 'p'">
									<p class="profession" th:text="${study.member.nickname}">CEO</p>
								</th:block>
							</div>
							<h6 class="name" th:text="${study.name}">John Marvel</h6>
							<div class="content">
								<div class="main">
									<p class="text-center" th:text="${typeCode} eq 'p'?|￦${study.price.price}" style="color: #ff005a; font-weight: bold;"></p><br>
									<p class="text-center" th:text="|${study.startDate}~${study.endDate}|+' '+${study.dayCode.codeValueKorean}"></p>
									<p class="text-center" th:text="'관심분야 : '+${study.studyInterest[0].interest2code.codeValueKorean}+' / 레벨 : '+${study.levelCode.codeValueKorean}"></p>
									<i class="tag btn-primary" th:text="|${study.studyStatusCode.codeValueKorean}&nbsp|" style="color: white; float: right; background: #ff7600;"></i>									
								</div>
							</div>
						</div>
						<!-- end front panel -->
						<div class="back">
							<div class="header">
								<h5 class="motto">스터디 간략상세</h5>
							</div>
							<div class="content">
								<div class="main">
									<div th:utext="${study.introduction}" style="margin-bottom: 10px; height: 40px;overflow: hidden;"></div>
									<p th:text="|일시 : ${study.startDate}~${study.endDate}|" style="margin-bottom: 3px;"></p>
									<p th:utext="|시간 : 매주 ${study.dayCode.codeValueKorean}요일 ${#dates.format(study.startTime, 'HH:mm')}~${#dates.format(study.endTime, 'HH:mm')}|" style="margin-bottom: 3px;"></p>
									<p th:text="${study.onoffCode.codeValueKorean}!='온라인'?|지역 : ${study.studyLocation[0].interestLocation}|:''" style="margin-bottom: 3px;"></p>
									<div class="stats-container">
										<div class="stats">
											<h6 th:text="|${study.enrollActual}/${study.enrollCapacity}|"></h6>
											<p>정원</p>
										</div>
										<div class="stats">
											<h6 th:text="${study.hasLeveltest==1?'있음':'없음'}"></h6>
											<p>레벨테스트</p>
										</div>
										<div class="stats">
											<h6 th:text="${study.levelCode.codeValueKorean}"></h6>
											<p>난이도</p>
										</div>
									</div>

								</div>
							</div>
							<div class="footer">
								<div class="social-links text-center">
									<a href="#">신청</a>
									<a th:href="@{'/study/detail/' + ${study.studyId}}">상세</a>
								</div>
							</div>
						</div>
						<!-- end back panel -->
					</div>
					<!-- end card -->
				</div>
				<!-- end card-container -->
			</div>
			

			<!-- 페이지 번호 출력 -->
            <nav>
               <div>
                  <ul class="pagination">
                     <li class="page-item" th:if="${pagedList.prevPage}"><a th:href="${pagedList.prevPage.pageNumber}">[[${pagedList.prevPage}]]</a></li>
                     <li class="page-item" th:classappend="${page.pageNumber == pagedList.currentPageNum -1}? active: ''" th:each="page : ${pagedList.pageList}"><a th:href="${page.pageNumber}+1">[[${page.pageNumber}+1]]</a></li>
                     <li class="page-item" th:if="${pagedList.nextPage}"><a th:href="${pagedList.nextPage.pageNumber}">[[${pagedList.nextPage}]]</a></li>
                  </ul>
               </div>
            </nav>
            
            <!-- 페이지 번호를 통해 이동 1 -->
            <th:block th:if="${search}!=null">
            <form id="pageForm" th:action="@{/search}" method="get">
               <input type="hidden" name="page" th:value="${pagedList.currentPageNum}">
               <input type="hidden" name="size" th:value="${pagedList.currentPage.pageSize}">
               <input type="hidden" name="name" th:value="${name}">
               <input type="hidden" name="typeCode.typeCode" th:value="${typeCode}">
               <input type="hidden" name="onoffCode.onoffCode" th:value="${onoffCode}">
               <input type="hidden" name="searchDate" th:value="${searchDate}">
               <input type="hidden" name="levelCode.levelCode" th:value="${levelCode}">
               <th:block th:each="loc:${location}">
                <input type="hidden" name="location" th:value="${loc}">
               </th:block>
               <th:block th:each="inter:${interest}">
                <input type="hidden" name="interest" th:value="${inter}">
               </th:block>
            </form>
            </th:block>
            
            <th:block th:unless="${search}!=null">
            <form id="pageForm" th:action="@{'/study/list/' + ${typeCode}}" method="get">
               <input type="hidden" name="page" th:value="${pagedList.currentPageNum}">
               <input type="hidden" name="size" th:value="${pagedList.currentPage.pageSize}">
            </form>
            </th:block>
            

         </div>
         
      </div>
   
   <div layout:fragment="customScript">   
      <script th:inline="javascript">
         $(document).ready(function() {
            
            var pageForm = $("#pageForm");
            $(".pagination a").click(function(e) {
               e.preventDefault();
               pageForm.find('[name="page"]').val($(this).attr('href'));
               pageForm.submit();
            });
            
         });
      </script>

		</div>
</body>
</html>
