<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 	layout:decorate="~{/layout/mainLayout}"> -->
<head>
<meta charset="UTF-8">
<title>활동정보</title>
</head>
<body>

	<div class="commounity">
	<h3>내가쓴 게시글 내역</h3>
		<a href="allboard">내가 쓴 모든 게시물</a>
		
	</div>
	
	<div class="mybasicstudy">
		<a href="basicstudylist">나의 활동스터디 보기</a>
	</div>
	
	<div class="mypremiumstudy">
		<a href="premiumstudylist">나의 활동스터디 보기</a>
	</div>



</body>
</html>