<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 	layout:decorate="~{/layout/mainLayout}"> -->
<head>
<meta charset="UTF-8">
<title>내가쓴 게시판 내역</title>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


</head>
	

<body>

	<h3>내가 쓴 모든 게시물</h3>	
	<table class="table">
	

	<tr th:each=" fbr : ${fbr}">
	    <td th:text=${fbr.id}></td>
	    <td th:text="${fbr.title}"></td>
		<td th:text="${fbr.date}"></td>
		<td th:text="${fbr.likeCount}"></td>
		<td th:text="${fbr.hit}"></td>
	</tr>
	

	<tr th:each=" ibr : ${ibr}">
	    <td th:text=${ibr.id}></td>
	    <td th:text="${ibr.title}"></td>
		<td th:text="${ibr.date}"></td>
		<td th:text="${ibr.likeCount}"></td>
		<td th:text="${ibr.hit}"></td>
	</tr>
	
	<tr th:each=" rbr : ${rbr}">
	    <td th:text=${rbr.id}></td>
	    <td th:text="${rbr.title}"></td>
		<td th:text="${rbr.date}"></td>
		<td th:text="${rbr.likeCount}"></td>
		<td th:text="${rbr.hit}"></td>
	</tr>
	</table>
		
	
		
		
</body>
</html>