<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>내가쓴 게시판 내역</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<style>
.tab-link {
	display: inline-block;
    cursor: pointer;
    background-color: #7380c3a1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tab-content {
	display: none
}

.tab-content.on {
	display: block
}

.dropdown-toggle::after {
	border: none !important;
}
</style>

</head>


<body>

	<div id="main" layout:fragment="main">
		<div class="inner">
			<div class="heading" style="margin-top: 5px; margin-bottom: 30px;">
				<h3 style="display: inline;">커뮤니티 활동내역</h3>
				<a href="/activityinfo" class="button primary"
					style="float: right;'">뒤로가기</a><br>
			</div>


			<a class="tab-link" data-type="tab-1">자유게시판</a>
			<a class="tab-link" data-type="tab-2">문의게시판</a>
			<a class="tab-link" data-type="tab-3">요청게시판</a>
			


			<div id="tab-1" class="tab-content on">
				<table class="table table-striped">
					<tr>
						<th>제목</th>
						<th>닉네임</th>
						<th>게시일</th>
						<th>추천수</th>
						<th>조회수</th>
					</tr>

					<tr th:each=" fbr : ${fbr}">

						<td th:text="${fbr.title}"></td>


						<td>
							<div class="dropdown">

								<a class="dropdown-toggle" data-toggle="dropdown"
									th:text="${fbr.member.nickname}"></a>


								<div class="dropdown-menu">

									<a class="dropdown-item" data-toggle="modal"
										data-target="#messagewrite"
										th:data-receive-id="${fbr.member.id}">쪽지쓰기</a> <a
										class="dropdown-item" data-toggle="modal"
										data-target="#memberinfo"
										th:data-member-info="${fbr.member.id}">유저정보</a>

								</div>
							</div>
						</td>

						<td th:text="${fbr.date}"></td>
						<td th:text="${fbr.likeCount}"></td>
						<td th:text="${fbr.hit}"></td>
					</tr>
				</table>
			</div>

			<!-- 모달창 쪽지쓰기창 시작    -->
			<div class="modal" id="messagewrite">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">쪽지쓰기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>


						<div class="modal-body">
							<form method="POST" action="/modalmessageWriteResult"
								name="modalmessage">
								<div class="card border-primary rounded-0">
									<div class="card-header p-0">
										<div class="bg-info text-white text-center py-2">
											<h3>
												<i class="fa fa-envelope"></i>
											</h3>
											<p class="m-0">쪽지쓰기</p>
										</div>
									</div>
									<div class="card-body p-3">


										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-user text-info"></i>
													</div>
												</div>
												<input type="text" class="form-control" id="receiveId"
													name="receiveId" placeholder="받는사람을 입력해주세요." value=""
													required />
											</div>
										</div>

										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-comment text-info"></i>
													</div>
												</div>
												<textarea class="form-control" name="messageContent"
													id="messageContent" placeholder="내용을 입력해주세요." required></textarea>
											</div>
										</div>

										<div class="text-center">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" /> <input type="submit"
												value="전송하기" id="gomessage"
												class="btn btn-info btn-block rounded-0 py-2">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Close</button>
						</div>
					</div>
				</div>
			</div>

			<!--     모달창 쪽지쓰기창 끝 -->

			<!-- 모달창 유저정보 시작 -->
			<div class="modal" id="memberinfo">
				<div class="modal-dialog">
					<div class="modal-content" style="background-color: white";>

						Modal Header
						<div class="modal-header">
							<h4 class="modal-title">회원정보</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						Modal body
						<div class="modal-body2" id="modal_memberInfolist"
							style="text-align: center;"></div>

						Modal footer
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<!--   모달창 유저정보 끝 -->









			<div id="tab-2" class="tab-content">
				<!-- 문의게시판 -->
				<table class="table table-striped">
				<tr>
						<th>제목</th>
						<th>닉네임</th>
						<th>게시일</th>
						<th>추천수</th>
						<th>조회수</th>
					</tr>
					<tr th:each=" ibr : ${ibr}">
						<td th:text="${ibr.title}"></td>
						<!--   	 드랍다운시작 -->

						<td>
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"
									th:text="${ibr.member.nickname}"></a>
								<div class="dropdown-menu">
									<a class="dropdown-item" data-toggle="modal"
										data-target="#messagewrite"
										th:data-receive-id="${ibr.member.id}">쪽지쓰기</a> <a
										class="dropdown-item" data-toggle="modal"
										data-target="#memberinfo"
										th:data-member-info="${ibr.member.id}">유저정보</a>
								</div>
							</div>
						</td>
						<!-- 드랍다운 끝 -->
						<td th:text="${ibr.date}"></td>
						<td th:text="${ibr.likeCount}"></td>
						<td th:text="${ibr.hit}"></td>
					</tr>
				</table>
			</div>
			<!-- 모달창 쪽지쓰기창 시작   -->
			<div class="modal" id="messagewrite">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">쪽지쓰기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>


						<div class="modal-body">
							<form method="POST" action="/modalmessageWriteResult"
								name="modalmessage">
								<div class="card border-primary rounded-0">
									<div class="card-header p-0">
										<div class="bg-info text-white text-center py-2">
											<h3>
												<i class="fa fa-envelope"></i>
											</h3>
											<p class="m-0">쪽지쓰기</p>
										</div>
									</div>
									<div class="card-body p-3">


										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-user text-info"></i>
													</div>
												</div>
												<input type="text" class="form-control" id="receiveId"
													name="receiveId" placeholder="받는사람을 입력해주세요." value=""
													required />
											</div>
										</div>

										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-comment text-info"></i>
													</div>
												</div>
												<textarea class="form-control" name="messageContent"
													id="messageContent" placeholder="내용을 입력해주세요." required></textarea>
											</div>
										</div>

										<div class="text-center">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" /> <input type="submit"
												value="전송하기" id="gomessage"
												class="btn btn-info btn-block rounded-0 py-2">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- 모달창 쪽지쓰기창 끝 -->

			<!-- 모달창 유저정보 시작 -->
			<div class="modal" id="memberinfo">
				<div class="modal-dialog">
					<div class="modal-content" style="background-color: white";>

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">회원정보</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body2" id="modal_memberInfolist"
							style="text-align: center;"></div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

			<!-- 모달창 유저정보 끝 -->













			<div id="tab-3" class="tab-content">
				<!-- 요청게시판 -->

				<table class="table table-striped">
				<tr>
						<th>제목</th>
						<th>닉네임</th>
						<th>게시일</th>
						<th>추천수</th>
						<th>조회수</th>
					</tr>
					<tr th:each=" rbr : ${rbr}">
						<td th:text="${rbr.title}"></td>


						<td>
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"
									th:text="${rbr.member.nickname}"></a>
								<div class="dropdown-menu">
									<a class="dropdown-item" data-toggle="modal"
										data-target="#messagewrite"
										th:data-receive-id="${rbr.member.id}">쪽지쓰기</a> <a
										class="dropdown-item" data-toggle="modal"
										data-target="#memberinfo"
										th:data-member-info="${rbr.member.id}">유저정보</a>
								</div>
							</div>
						</td>
						<td th:text="${rbr.date}"></td>
						<td th:text="${rbr.likeCount}"></td>
						<td th:text="${rbr.hit}"></td>
					</tr>
				</table>
			</div>

			<!-- 모달창 쪽지쓰기창 시작 -->
			<div class="modal" id="messagewrite">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">쪽지쓰기</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>


						<div class="modal-body">
							<form method="POST" action="/modalmessageWriteResult"
								name="modalmessage">
								<div class="card border-primary rounded-0">
									<div class="card-header p-0">
										<div class="bg-info text-white text-center py-2">
											<h3>
												<i class="fa fa-envelope"></i>
											</h3>
											<p class="m-0">쪽지쓰기</p>
										</div>
									</div>
									<div class="card-body p-3">


										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-user text-info"></i>
													</div>
												</div>
												<input type="text" class="form-control" id="receiveId"
													name="receiveId" placeholder="받는사람을 입력해주세요." value=""
													required />
											</div>
										</div>

										<div class="form-group">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">
														<i class="fa fa-comment text-info"></i>
													</div>
												</div>
												<textarea class="form-control" name="messageContent"
													id="messageContent" placeholder="내용을 입력해주세요." required></textarea>
											</div>
										</div>

										<div class="text-center">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" /> <input type="submit"
												value="전송하기" id="gomessage"
												class="btn btn-info btn-block rounded-0 py-2">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- 모달창 쪽지쓰기창 끝 모달창 유저정보 시작 -->
			<div class="modal" id="memberinfo">
				<div class="modal-dialog">
					<div class="modal-content" style="background-color: white";>

						Modal Header
						<div class="modal-header">
							<h4 class="modal-title">회원정보</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						Modal body
						<div class="modal-body2" id="modal_memberInfolist"
							style="text-align: center;"></div>

						Modal footer
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

		<!-- 	모달창 유저정보 끝 -->







			<script>
				$('#messagewrite').on(
						'show.bs.modal',
						function(e) {
							var receiveId = $(e.relatedTarget).data(
									'receive-id');
							$(e.currentTarget).find('input[name="receiveId"]')
									.val(receiveId);
						});

				$('#memberinfo')
						.on(
								'show.bs.modal',
								function(e) {
									var memberInfo = $(e.relatedTarget).data(
											'member-info');
									$(e.currentTarget).find(
											'input[name="memberInfo"]').val(
											memberInfo);

									$
											.ajax({
												url : './modalmember',
												type : 'GET',
												data : {
													id : memberInfo
												},
												datatype : 'JSON',
												success : function(success) {
													var mydata = success.memberInfo[0];
													var a = '';
													/* alert(mydata); */
													$("#img_profile")
															.attr(
																	'src',
																	'/member_image/'
																			+ mydata.profileSaveName);
													if (mydata.visibility == 0) {
														a += '<img id="img_profile" src="/member_image/'
																+ mydata.profileSaveName
																+ '" style="border-radius:100%; width:200px; height:120px;" /><br>'
														a += 'Member ID :<font id="modal_memberId" name="modal_memberId" >'
																+ mydata.id
																+ '</font><br>'
														a += 'Member Nick Name : <font id="modal_memberNickname" name="modal_memberNickname">'
																+ mydata.nickname
																+ '</font><br>'
														a += '성별 : <font id="modal_memberGender" name="modal_memberGender">'
																+ mydata.gender
																+ '</font><br></div>'
													} else {
														a += '<p>비공개입니다</p>'

													}
													$('.modal-body2').html(a);

												},
												error : function(data, status,
														err) {

													console.log(status + ":"
															+ err);
												}
											});

								});

				$('#gomessage').click(function() {

					alert("쪽지 전송이 완료되었습니다.")
				});

				$('.tab-link').click(function() {
					var tab_id = $(this).attr('data-type');
					$('.tab-link').removeClass('on');
					$('.tab-content').removeClass('on');
					$(this).addClass('on');
					$("#" + tab_id).addClass('on');
				});
			</script>

		</div>
	</div>


</body>
</html>