<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">



<head>
<meta charset="UTF-8">
<title>회원정보 수정페이지</title>
</head>
<body>

<!-- 	<article>
		<h3> <span sec:authentication="principal.member.nickname"></span>님이 접속중입니다. </h3><br>
		<a href="">비밀번호변경</a>
		<div class="profile">프로필 사진</div>


		<div class="modify_top" name="top">
		<tr th:each="mdu : ${mdu}">
		
				<br>아이디
				<td th:text=${mdu.id}/><br>

				<br>비밀번호 &nbsp&nbsp
				<input type="password" name="pwd" id="pwd" />
				
				<br>&nbsp&nbsp&nbsp이름 &nbsp&nbsp&nbsp&nbsp
				<td th:text=${mdu.name}/><br>
				
				<br><tr>&nbsp&nbsp닉네임 &nbsp&nbsp&nbsp</tr>
				<td th:text=${mdu.nickname}></td><br>
				
				<br>생년월일 &nbsp&nbsp
				<td th:text=${mdu.birth}/><br>
					<form name="top">
						E-mail&nbsp&nbsp
						 <input type="text" name="email1" id="email1" value="" /> 
						 <input type="text" name="email2" id="email2" value="" disabled /> 
						 <select name="email3" id="email3" onchange="email_change()">
							<option value="0">선택하세요.</option>
							<option value="9">직접입력</option>
							<option value="@naver.com">네이버</option>
							<option value="@hanmail.net">다음</option>
							<option value="@google.co.kr">구글</option>
						</select>
						<button value="button">중복체크</button>
					</form> 
					<br>&nbsp휴대폰번호 
					<input type="text" name="phonenumber" id="phonenumber"></input>
					<button value="button">인증번호받기</button>
					 <br>&nbsp 인증번호 
					 <input type="text" name="phonenumber" id="phonenumber"></input>
					<button value="button">확인</button> 
					
					<br>&nbsp 공개여부&nbsp
					<input type="radio" id="open1" name="open" value="공개" checked="checked">
					</input> 
					<label for="open1" class="aaa">공개</label> 
					
					<input type="radio" id="open2" name="open" value="비공개" checked="checked"></input>
					 <label for="open2" class="bbb">비공개</label> <br>
					
					<button type="button" href="">탈퇴하기</button> <br>
					<button type="submit">완료</button>
			
		  </tr>	
		</div>




	</article>
	
	 -->





</body>
</html>