<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 	layout:decorate="~{/layout/mainLayout}"> -->
<head>
<meta charset="UTF-8">
<title>회원정보 수정페이지</title>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<body>


 <span sec:authentication="principal.member.nickname"></span>님 회원정보 수정페이지  <br>
 
 <span>	<a class="btn btn-primary" id="modifypwd" th:href="@{passwordmodi}" role="button">비밀번호 변경</a></span>
 
 
 <div th:each="md : ${mdu}">
 	ID&nbsp&nbsp<span th:text="${md.id}"></span></br>
 	비밀빈호&nbsp&nbsp<span><input type="text" name="password" th:value="${md.password}"/></span></br>
 	이름&nbsp&nbsp<span th:text="${md.name}"></span></br>
 	성별&nbsp&nbsp<span th:text="${md.gender}"></span></br>
 	생년월일&nbsp&nbsp<span th:text="${md.birth}"></span></br>
	닉네임&nbsp&nbsp<span th:text="${md.nickname}"></span></br>
	이메일&nbsp&nbsp<span><input type="text" name="email" th:value="${md.email}"/></span>&nbsp&nbsp
	<button type="button" class="button" onclick="check()">중복체크</button></br>
	휴대폰번호&nbsp&nbsp<span><input type="text" name="phonenumber" th:value="${md.phonenumber}"/></span>
	<button type="button" class="button" onclick="check()">인증번호</button></br>
	인증번호&nbsp&nbsp&nbsp<span><input type="text" name="phonenumber2"/></span>
	<button type="button" class="button" onclick="check()">완료</button></br>
	공개여부&nbsp&nbsp&nbsp<span><input type="radio" name="visibility"/>공개&nbsp&nbsp<input type="radio" name="visibility"/>비공개</span>
</div>
<br>
<span>	<a class="btn btn-primary" id="memberexit" th:href="@{memberexit}" role="button">탈퇴하기</a></span>
<span>	<a class="btn btn-primary" id="complate" th:href="@{complate}" role="button">완료</a></span>
	 

	

</body>
</html>



<!-- 	<article>
		<h3> <span sec:authentication="principal.member.nickname"></span>님이 접속중입니다. </h3><br>
		<a href="">비밀번호변경</a>
		<div class="profile">프로필 사진</div>


		<div class="modify_top" name="top">
		<tr th:each="mdu : ${mdu}">
		
				<br>아이디
				<td th:text=${mdu.id}/><br>

				<br>비밀번호 &nbsp&nbsp
				<input type="password" name="pwd" id="pwd" />
				
				<br>&nbsp&nbsp&nbsp이름 &nbsp&nbsp&nbsp&nbsp
				<td th:text=${mdu.name}/><br>
				
				<br><tr>&nbsp&nbsp닉네임 &nbsp&nbsp&nbsp</tr>
				<td th:text=${mdu.nickname}></td><br>
				
				<br>생년월일 &nbsp&nbsp
				<td th:text=${mdu.birth}/><br>
					<form name="top">
						E-mail&nbsp&nbsp
						 <input type="text" name="email1" id="email1" value="" /> 
						 <input type="text" name="email2" id="email2" value="" disabled /> 
						 <select name="email3" id="email3" onchange="email_change()">
							<option value="0">선택하세요.</option>
							<option value="9">직접입력</option>
							<option value="@naver.com">네이버</option>
							<option value="@hanmail.net">다음</option>
							<option value="@google.co.kr">구글</option>
						</select>
						<button value="button">중복체크</button>
					</form> 
					<br>&nbsp휴대폰번호 
					<input type="text" name="phonenumber" id="phonenumber"></input>
					<button value="button">인증번호받기</button>
					 <br>&nbsp 인증번호 
					 <input type="text" name="phonenumber" id="phonenumber"></input>
					<button value="button">확인</button> 
					
					<br>&nbsp 공개여부&nbsp
					<input type="radio" id="open1" name="open" value="공개" checked="checked">
					</input> 
					<label for="open1" class="aaa">공개</label> 
					
					<input type="radio" id="open2" name="open" value="비공개" checked="checked"></input>
					 <label for="open2" class="bbb">비공개</label> <br>
					
					<button type="button" href="">탈퇴하기</button> <br>
					<button type="submit">완료</button>
			
		  </tr>	
		</div>




	</article>
	
	
 -->




