<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>회원정보 수정페이지</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">

<style>

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.info{
	 margin-bottom: 7%;
}

.infoname{
	
}



.infocontent{
	border: solid 2px;
	border-color:#7f748a;
	border-radius:10px;
	font-weight: 700;
	
}
	
	

</style>

</head>
<body>


<div id="main" layout:fragment="main">
<div class="inner">

	<div class="container emp-profile">
           <div th:each="md : ${mdu}">
           
                <div class="row">
                    <div class="col-md-4">
                            <form name="image_Form" id="image_Form" action="attachments" method="post">
                        <div class="profile-img">
   								 <img id="img_profile" th:src="@{'/member_image/'+${md.profileSaveName}}" style="border-radius:100%; width:200px; height:200px"/>
                        </div>
                            <div class="file btn btn-lg">
                               <input name="sourceFile" id="sourceFile" type="file">
  								 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
  								<input type="button"  id="newimg_upload" name="newimg_upload" value="썸네일변경" style="color:#ff9d24; width: 158px; height: 45px; margin-right: 191px; margin-top: 3%; background-color: #f7d0ef;
  								">
                            </div>    


   							</form>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 style="font-weight:800;">
                                    <span th:text="${session.nickname}"></span>님 회원정보입니다.<br>
                                    </h5>
                                    <h6>
                                        Study Republic mohajo
                                    </h6>
                                    
                                    <form name="basicimage" action="/mypage/setdefault_img">
     								 <input  type="submit"value="기본이미지로 변경" style="background-color: #f7d0ef;"/>
  									 </form>
                                   
  									 
                           
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="margin-top: 81px;">About</a>
                                </li>
                            </ul>
                        </div>
                             
                    </div>
                    <div class="col-md-2">
                         <span><a class="btn btn-primary" id="modifypwd" th:href="@{/mypage/passwordmodi}" role="button">비밀번호 변경</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                        
                    <div class="col-md-8">
                     <form th:action="@{/mypage/modimember2}" name="form1" method="post">
                                        <div class="row info">
                                            <div class="col-md-3 infoname">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-5 infocontent">
                                                <span th:text="${md.id}"></span>
                                            </div>
                                        </div>
                                        <div class="row info">
                                            <div class="col-md-3 infoname">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-5 infocontent">
                                                <span th:text="${md.name}"></span>
                                            </div>
                                        </div>
                                        <div class="row info">
                                            <div class="col-md-3 infoname">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-5 infocontent" style="height: 52px";>
                                         <span><input type="text" id="email" name="email" th:value="${md.email}"/></span>
                                            </div>
                                     	 <button type="button" class="button" id="emailcheck" name="emailcheck" style="margin-left: 3%;" >중복체크</button>
                                        </div>
  									
                                        <div class="row info">
                                            <div class="col-md-3 infoname" style="margin-top: 10px";>
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-5 infocontent">
                                              <span><input type="text" name="phonenumber" th:value="${md.phonenumber}"/></span>
                                            </div>
                                        </div>
                                        <div class="row info">
                                            <div class="col-md-3 infoname">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-5 infocontent">
                                               <span th:text="${md.gender}"></span>
                                          </div>
                                  		 </div>
                                  		 <div class="row info">
                                            <div class="col-md-3 infoname">
                                                <label>Visibility</label>
                                            </div>
                                            <div class="col-md-5 infocontent">
                                                <p><span><input type="radio" name="visibility" value="0"/>공개&nbsp&nbsp<input type="radio" name="visibility" value="1"/>비공개</span>
  									 <input type="hidden" id="hidden_visibility" th:value="${md.visibility}"/></p>
                                          </div>
                                  		 </div>
                                  		 
                                  		 <span>   <a class="btn" id="memberexit" th:href="@{/mypage/memberexit}" role="button" style="background-color:black; color:white;">탈퇴하기</a></span>
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
											<span>   <a class="btn" id="complete" role="button" style="background-color:black; color:white; margin-left:50px;">완료</a></span>
                                  		                             
                            
                     </form>
                    </div>
          	 	</div>
                           
            </div>
         </div>
                    
			
						

 <script type="text/javascript">
 var token = $("meta[name='_csrf']").attr("content");
 var header = $("meta[name='_csrf_header']").attr("content");
 $(function() {
     $(document).ajaxSend(function(e, xhr, options) {
         xhr.setRequestHeader(header, token);
     });
 });
$(document).ready(function(){

   var sel_file;
   var data = {};
   var emailcheck =0;
   var complete = 0;
   var email = "";
   var visibilityValue = '0'; //공개 일때 0 비공개는 1 
   
   visibilityValue = $('#hidden_visibility').val();
   
   if(visibilityValue == '0' || visibilityValue == '1'){
      $('input:radio[name=visibility]:input[value=' + visibilityValue + ']').attr("checked", true);
   }
   
   //임시로 수정하기 완료버튼 이벤트
   /* $("#complate").click(function(){
      if(confirm("수정하시겠습니까?")){
      }
      
      
      document.form1.submit();
      
   });
     */
   //이미지 미리보기
   $("#sourceFile").on("change",handleImgFileSelect);
     
     function handleImgFileSelect(e){
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        
        filesArr.forEach(function(f){
           if(!f.type.match("image.*")){
              alert("확장자는 이미지 확장자만 가능합니다.");
              return;
           }
        
           sel_file = f;
           
           var reader = new FileReader();
           reader.onload = function(e){
              $("#img_profile").attr("src",e.target.result);
           }
           reader.readAsDataURL(f);
              
        });
     }
   //이미지업로드
   // form 값 전부 보내기
   $('#newimg_upload').click(function(){
     
       var idx = $(this).parent().parent().index();
       var frm = document.getElementById('image_Form');
       frm.method = 'POST';
       frm.enctype = 'multipart/form-data';
      
       var fileFormValue = $('#sourceFile').val();
       
       var fileData = new FormData(frm);
        
       console.log("fileData:" + fileFormValue);
       if(fileFormValue != null && fileFormValue != {} && fileFormValue != ''){
          // ajax
          $.ajax({
              url:'./attachments',
              type:'POST',
              data:fileData,
              async:false,
              cache:false,
              contentType:false,
              processData:false
          }).done(function(response){
              alert("프로필변경이 완료되었습니다.");
       
               location.reload();
          });
        }else{
           alert("파일이 첨부되지 않았습니다.");
        }
   });

   
   //이메일 중복체크
   var data ={};
   
   $("#emailcheck").click(function(){
      data.email = $("#email").val();
      data.url = "./emailAuth";
      sendServer(data);
   });
   
   function sendServer(data){
      
	      $.ajax({
	         type:"POST",
	         url:data.url,
	         data : data, //{email : $("#email").val()}
	         datatype:"JSON",
	         success:function(success){
	            console.log(success);
	            if(success.emailCount == 0){
	               alert("사용가능한 이메일입니다.");
	            }else{
	               alert("이미사용중인 이메일입니다.");
	            }
	         },
	         error:function(error){
	            console.log(error);
	         }
	         
	      });
	};
	
	$("#memberexit").click(function(){
		confirm("정말 탈퇴하시겠습니까?");
	});
   
});
    //완료버튼 클릭시 
   $("#complete").click(function(){
    var result = confirm("회원정보를 수정하시겠습니까?");
	   if(result){
		   alert("완료되었습니다.");
           document.form1.submit();
        } 
           
   });
	   
      /* data = {}; */
 /*      data.password = $("#passwordcheck").val();
      data.url = "./passwordAuth"; */
      /* complete(data); */
   
  /*  function complete(data){
      $.ajax({
         type:"POST",
         url:data.url,
         data : data,
         datatype:"JSON",
         success:function(eee){
            console.log(eee);
         if(confirm("수정하시겠습니까?")){
               
               document.form1.submit();
            } 
         },
         error:function(sss){
            console.log(sss);
         }
         
      });
   }
        */

   

   
</script>

</div>
</div>


</body>
</html>




