<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<!-- layout:decorate="~{/layout/mainLayout}" -->
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">

</head>
<body>

<div id="main" layout:fragment="main">
<div class="inner">

	<form id="pwdcomplete" action="/passwordResult" method="POST">
		<div class=" row pwd_modify">
  		<h3>비밀번호 변경</h3>
  		<h4>8~16글자 영문,숫자,특수문자로 설정해주세요.</h4>


 		</br>
 		<div class="col-md-12" data-validate = "비밀번호를 입력해주세요." style = "float:left;">
 			<label for="password">새 비밀번호</label> </br> 
 			<input type="password" name = "password" id="password" onblur = "check_Pw()" />
			<span class="focus-input100"></span>
			<span class = "member" id="enterPw"></span>	
 		</div>
 		
 		</br>
 		<div class="col-md-12" data-validate = "비밀번호를 입력해주세요." style = "float:left;">
			<label for="repassword">새 비밀번호 확인</label></br>
  			<input type="password" id="repassword" name = "repassword" onblur="check_RePw()" />
  			<span class="focus-input100"></span>
  			<span class = "member" id="enterRePw"></span>
 		</div>


		</br></br></br></br>
		<span><a class="btn btn-primary" id="modimember" th:href="@{modimember}" role="button">되돌아가기</a></span>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
			<div class="container-login100-form-btn">
				<button type="button" id = "signup" class="login100-form-btn" onclick = "complete()">완료</button>
			</div>
<!-- 		<span><input type="submit" value="완료"/></span> -->

</div>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript">




var count = 0;
var allSpan = document.querySelectorAll("span");


var information = document.getElementsByClassName("input100");
var messageBox = document.getElementsByClassName("member");



   var regex_pw="";
   var regexArr = [regex_pw];
 

 
    var pw;
    var rePw;


function check_Pw() {
	
    
    pw = document.getElementById("password").value;
    regex_pw=/^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{10,18}$/
    
      if(pw===""){
       // document.getElementById("password").focus();
    	  document.getElementById("enterPw").innerHTML="비밀번호를 입력하세요";
    	  document.getElementById("enterPw").style.color = "#f30e0e";
     	}
      
      else if ( !(regex_pw.test(pw))) {
        document.getElementById("enterPw").innerHTML = "유효하지 않은 형식 입니다.";
        document.getElementById("enterPw").style.color = "#f30e0e";
     	} else if ( regex_pw.test(pw)) {         
   	    document.getElementById("enterPw").innerHTML = "password ok";
   	    document.getElementById("enterPw").style.color = "#0392f4";
     	} 
  }
  
  

  function check_RePw() {
      pw = document.getElementById("password").value;
      rePw = document.getElementById("repassword").value;
      
      if(pw === rePw && pw.length >= 1) { 
    	  document.getElementById("enterRePw").innerHTML = "비밀번호가 일치합니다";
    	  document.getElementById("enterRePw").style.color = "#0392f4";
    	  } else if (rePw == "" && pw != "") {
    		 document.getElementById("enterRePw").innerHTML = "비밀번호를 입력하세요";
    		 document.getElementById("enterRePw").style.color = "#f30e0e";
    	  } else if (rePw != pw) {
    		 document.getElementById("enterRePw").innerHTML = "비밀번호가 일치하지 않습니다.";
    		 document.getElementById("enterRePw").style.color = "#f30e0e";
    	  }        
  }
  
  function complete(){
	  rePw = document.getElementById("repassword").value;
	  regex_pw=/^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{10,18}$/
	  if((pw == rePw) && pw != "" && rePw != ""){
			  alert("완료되었습니다.");  
			  $("#pwdcomplete").submit();
		  }
	  else if (pw != rePw) {
          alert("패스워드를 확인해주세요.");          
          document.getElementById("password").focus();
       }
	 
	
  	}
	  
	
 	/* 	  pw = document.getElementById("password").value;
		rePw = document.getElementById("repassword").value;
	  
 		  if(pw == rePw && pw != "" && rePw != ""){
 			  alert("완료되었습니다.");  
 			  $("#memberjoin").submit();
		  
 		  }
 		  else if (pw != rePw){
 		  alert("비밀번호가 일치하지않습니다.");   
			document.getElementById("password").focus();
	 		 }
	 	 else if(!((pw == repw) && pw != "" && repw != "")) {
		  alert("미입력 부분을 입력하세요.");  
		  
   			}
	   */

</script>



</div>  
</div>    


</body>
</html>