<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<!-- layout:decorate="~{/layout/mainLayout}" -->
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/Login_v18/css/main.css">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>
<body>

<div id="main" layout:fragment="main">
<div class="inner" style="width: 715px;" >
	
	
	<div class=" row pwd_modify" style="height: auto; border: solid; margin-top: 6%; margin-bottom: 13%; width: 100%;">
	<form id="pwdcomplete" action="/mypage/passwordResult" method="POST">
		<div class="row"  style=" margin-top: 20px; font-weight: 500;">
  			<h2>비밀번호 변경</h2>
  			<h4>4~12자리 숫자(영문,특수문자)로</h4>
  			<h4>설정해주세요.</h4>
		</div>
 		
 					<div class="row" style=" margin-top: 13%;">
 						<div class="col-md-12">
 							<div class="join-input100" data-validate = "비밀번호를 입력해주세요."  style = "float:left;"> 
								<input class = "input100" type="password" id= "password" name = "password" onblur = "check_Pw()" onkeyup = "remove_Message()">
								<span class="focus-input100"></span>
								<span class="label-input100">새 비밀번호</span>
								<span class = "member" id="enterPw"></span>	
							</div>
 						</div>
 					</div>
						
					
					<div class="row" style="margin-top: 7%;">
 						<div class="col-md-12">
							<div class="join-input100" data-validate = "비밀번호확인을 입력해주세요."  style = "float:left;"> 
								<input class = "input100" type="password" id="repassword" name = "repassword"  onblur="check_RePw()" onkeyup = "remove_Message()">
								<span class="focus-input100"></span>
								<span class="label-input100">새 비밀번호확인</span>
								<span class = "member" id="enterRePw"></span>
							</div>
 						</div>
					</div>
						
		<div><a class="btn btn-primary" id="modimember" th:href="@{/mypage/modimember}" role="button" style="margin-top: 50px;">되돌아가기</a></div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
			<div class="container-login100-form-btn">
				<button type="button" id = "signup" class="login100-form-btn" style="margin-right: 20px; margin-top: 23%;" onclick = "complete()">완료</button>
			</div>
  		
  		
  		
  		
  		
  		


 		
 		
  			

	
		<!-- <span><input type="submit" value="완료"/></span> -->

</form>
</div>



<script type="text/javascript">




var count = 0;
var allSpan = document.querySelectorAll("span");


var information = document.getElementsByClassName("input100");
var messageBox = document.getElementsByClassName("member");



   var regex_pw="";
   var regexArr = [regex_pw];
 

 
    var pw;
    var rePw;


function check_Pw() {
	
	
    pw = document.getElementById("password").value;
    regex_pw=/^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{4,12}$/
    
      if(pw===""){
       // document.getElementById("password").focus();
    	  document.getElementById("enterPw").innerHTML="비밀번호를 입력하세요";
    	  document.getElementById("enterPw").style.color = "#f30e0e";
     	}
   
      else if ( !(regex_pw.test(pw))) {
    	  document.getElementById("enterPw").innerHTML = "4~12자리 영어,숫자를 사용하여 비밀번호를 설정 해주세요. ";
        document.getElementById("enterPw").style.color = "#f30e0e";
     	} else if ( regex_pw.test(pw)) {         
   	    document.getElementById("enterPw").innerHTML = "password ok";
   	    document.getElementById("enterPw").style.color = "#0392f4";
     	} 
  }
  
  

  function check_RePw() {
      pw = document.getElementById("password").value;
      rePw = document.getElementById("repassword").value;
      
      if(pw === rePw && pw.length >= 1) { 
    	  document.getElementById("enterRePw").innerHTML = "비밀번호가 일치합니다";
    	  document.getElementById("enterRePw").style.color = "#0392f4";
    	  } else if (rePw == "" && pw != "") {
    		 document.getElementById("enterRePw").innerHTML = "비밀번호를 입력하세요";
    		 document.getElementById("enterRePw").style.color = "#f30e0e";
    	  } else if (rePw != pw) {
    		 document.getElementById("enterRePw").innerHTML = "비밀번호가 일치하지 않습니다.";
    		 document.getElementById("enterRePw").style.color = "#f30e0e";
    	  }        
  }
  
  function complete(){
	  var result = confirm("비밀번호를 변경하시겠습니까?");
	  rePw = document.getElementById("repassword").value;
	  regex_pw=/^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{10,18}$/
	  if((pw == rePw) && pw != "" && rePw != ""){
			  if(result){
				  Swal.fire("비밀번호 변경이 완료되었습니다.");
			  $("#pwdcomplete").submit();
			  } else{
				  
				  
			  }
		  }
	  else if (pw != rePw) {
		  Swal.fire("패스워드를 확인해주세요.");          
          document.getElementById("password").focus();
       }
	 
	
  	}
	  
	

</script>



</div>  
</div>    


</body>
</html>