<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/mainLayout}">
<head>
<meta charset="UTF-8">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/> 
<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- <title>강사신청내역조회</title> -->
</head>
<body>

<div id = "wrapper">
<div id = "main" layout:fragment = "main">
<div class = "inner">




<form></form>

<!-- <div class = "wharthehell" th:each = "tf : ${tutoruploadfile}">
왜안나옴??
<form action = "/tutor/file/delete" method = "post">
<input type = "text" th:value = "${tf.tutorfileOriginname}">
<input id = "fileUrl" name = "tutorFileFullUrl" type = "text" th:value = "${tf.tutorFileFullUrl}">
<input type = "submit" id = "deletefile" value = "삭제">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
</form>
<a th:href = "${tf.tutorfilePartUrl}">파일미리보기</a> 파일미리보기
<a th:href = "@{'/tutor/file'(tutorFileFullUrl=${tf.tutorFileFullUrl})}">파일다운로드</a> 
</div> -->


<form action = "/tutor/delete/inquery" method = "post">
<input name = "tutorNumber" th:value = "${tutor.tutorNumber}">
업로드한파일내역
<div class = "wharthehell" th:each = "tf : ${tutoruploadfile}">
<input type = "text" th:value = "${tf.tutorfileOriginname}">
<input id = "fileUrl" name = "tutorFileFullUrl" type = "text" th:value = "${tf.tutorFileFullUrl}" style = "display:none">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
<a th:href = "${tf.tutorfilePartUrl}">파일미리보기</a> 파일미리보기
<a th:href = "@{'/tutor/file'(tutorFileFullUrl=${tf.tutorFileFullUrl})}">파일다운로드</a> 
<a th:href = "@{'/tutor/file/delete'(tutorFileFullUrl=${tf.tutorFileFullUrl})}">X(삭제)</a> 
</div> 
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
<input type = "submit" value = "신청취소">

</form>

</div>
</div>
</div>





</script>



</body>
</html>