<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>강사신청</title>

<style>
/* #interest2cd { display : none} */
#pinterest2cd{ display : none}
#dinterest2cd{ display : none} 
#winterest2cd{ display : none}
#ninterest2cd{ display : none} 

#edu{ display : none}




</style>

</head>
<body>

<div id = "wrapper">
<div id = "main" layout:fragment = "main">
<div class = "inner">


<form id = "tutor" action = "/tutor/insert" method = "post">

<div>
<input id = "id" name = "member" th:value = "${id}" readonly = "readonly">

</div>
<select name = "educationcd" id = "educationcd"  size = '4' multiple = 'multiple'  onchange = "education(this)">
<option th:each="e :  ${educationcd}" th:value = "${e.educationCode}" th:text = "${e.codeValueKorean}">
</option>
</select>

<div id = "education" name = "education" >
<div id = "sedu"></div>
</div>

<select th:field = "*{careercd}"  size = '4' multiple = 'multiple' onchange = "career(this)">
<option th:each="c :  ${careercd}" th:value = "${c.careerCode}" th:text = "${c.codeValueKorean}">
</option>
</select>

<div id = "career" name = "career">
<div id = "scar"></div>
</div>

<select name = "interest1cd" id = "interest1cd"  size = '4' multiple = 'multiple'  onchange = "interest1(this)">
<option th:each="i1 :  ${interest1cd}" th:value = "${i1.interest1Code}" th:text = "${i1.codeValueKorean}">
</option>
</select>

<!-- <span><select name = "interest2cd" id = "interest2cd"  size = '4' multiple = 'multiple'  onchange = "interest2(this)">
<option th:each="i2 :  ${interest2cd}" th:value = "${i2.interest2Code}" th:text = "${i2.codeValueKorean}">
</option>
</select></span> -->

<span class = "dinterest2cd" name = "dinterest2cd" id = "dinterest2cd"><select size = '4' multiple = 'multiple'  onchange = "interest2(this)">
<option th:each="di2 :  ${dinterest2cd}" th:value = "${di2.interest2Code}" th:text = "${di2.codeValueKorean}">
</option>
</select></span>

<span class = "ninterest2cd" name = "ninterest2cd" id = "ninterest2cd">
<select size = '4' multiple = 'multiple'  onchange = "interest2(this)">
<option th:each="ni2 :  ${ninterest2cd}" th:value = "${ni2.interest2Code}" th:text = "${ni2.codeValueKorean}">
</option>
</select></span>

<span class = "pinterest2cd" name = "pinterest2cd" id = "pinterest2cd"><select size = '4' multiple = 'multiple'  onchange = "interest2(this)">
<option th:each="pi2 :  ${pinterest2cd}" th:value = "${pi2.interest2Code}" th:text = "${pi2.codeValueKorean}">
</option>
</select></span>

<span class = "winterest2cd" name = "winterest2cd" id = "winterest2cd"><select size = '4' multiple = 'multiple'  onchange = "interest2(this)">
<option th:each="wi2 :  ${winterest2cd}" th:value = "${wi2.interest2Code}" th:text = "${wi2.codeValueKorean}">
</option>
</select></span>




<div id = "interest1cd" name = "interest1cd" >
<div id = "int1"></div>
</div>

<div id = "interest2cd" name = "interest2cd">
<div id = "int2"></div>
</div>

<div>
<textarea name = "introduction" form = "tutor" cols = "40" rows = "10" autofocus required wrap = "hard" placeholder ="자기소개를 입력해주세요."></textarea>
</div>

<input type = "submit" value ="강사신청">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

var AllselectBox = document.querySelectorAll("span"); 



 function education(obj) {
   var educationListValue = obj.options[obj.selectedIndex].value;
   var educationListText = obj.options[obj.selectedIndex].text;
   
   var target = document.getElementById("sedu");
   
   target.innerHTML ="<input type = 'text' id = 'edu' name  = 'educationCD' ></input><li>" +  educationListText + "</li>";
   document.getElementById('edu').value = educationListValue; 
      
} 
    
 var careerNum = 0;
 var careerList = new Array();
 var selectedCareer = "";
 var careerInput = "";
 var careerDelete = "";
 
 function career(obj) {
      
      var target = document.getElementById("scar");   
               
      if(~selectedCareer.indexOf(obj.options[obj.selectedIndex].text)) {
         alert("이미 선택한 직종입니다.");
      }
      else {
         careerList.push(obj.options[obj.selectedIndex].text);
         selectedCareer += careerList[careerList.length-1];
         addCareerListValue = "<input type = 'text' id = 'csel" + careerNum +  "' name = 'tutorcareer[" + careerNum + "].careerCD'></input> <input type = 'button' value = '삭제' id = 'cdel" + careerNum + "' onclick = 'deleteCareer(" + careerNum + ")'>";    
         $('#scar').append(addCareerListValue);
         /* document.getElementById('csel'+careerNum).value = careerList[careerList.length-1]; */
         document.getElementById('csel'+careerNum).value = obj.options[obj.selectedIndex].value;
         
         addCareerListText = "<li id = 'licsel" + careerNum +  "'>" + careerList[careerList.length-1] + "</li> <input type = 'button' value = '삭제' id = 'licdel" + careerNum + "' onclick = 'deleteCareer(" + careerNum + ")'>";    
         $('#scar').append(addCareerListText);
         
          careerInput = document.getElementById('csel'+careerNum);
         careerInput.style.display = 'none';
         careerDelete = document.getElementById('cdel' + careerNum);
         careerDelete.style.display = 'none'; 
         
         careerNum++;
      }
      
   }
 
 var interestArr = ["데이터베이스", "네트워크&보안", "응용프로그래밍", "웹프로그래밍"];
 var count = 0;
 
 var sinterest1 = "";
 var pinterest2cd = document.getElementById("pinterest2cd")
 var checkNum = 0;
 
 function interest1(obj) {
       sinterest1 = obj.options[obj.selectedIndex].text;
       for( var i = 0; i < AllselectBox.length; i++) { 
                AllselectBox[i].style.display = 'none'; 
           if(sinterest1 == interestArr[i]){          
             checkNum = i;
          }               
        }
             AllselectBox[checkNum].style.display = 'inline-block';        
   } 
 
 
 
 var interest2List = new Array();
 var selectedinterest2 = "";  
 var addInterest2List;
 var interestInput = "";
 var interestDelete = "";

    function interest2(obj) {   
    var target = document.getElementById("int2");
    uniqueinterest2List = interest2List;
    
     
   if(~selectedinterest2.indexOf(obj.options[obj.selectedIndex].text))   {
      alert("이미 선택한 분야입니다.");
   }
   else {
      interest2List.push(obj.options[obj.selectedIndex].text);
      selectedinterest2 += interest2List[interest2List.length-1];    
     
      addinterestListValue = "<input type = 'text' id = 'isel" + count +  "' name = 'tutorinterest[" + count + "].interest2CD'></input> <input type = 'button' value = '삭제' id = 'idel" + count + "' onclick = 'deleteInterest(" + count + ")'>";    
      $('#int2').append(addinterestListValue);  
      
      document.getElementById('isel'+ count).value = obj.options[obj.selectedIndex].value;
      
      addInterest2List = "<li id = 'liisel" + count +  "'>" + sinterest1 + " > " + interest2List[interest2List.length-1] + "</li> <input type = 'button' value = '삭제' id = 'liidel" + count + "' onclick = 'deleteInterest(" + count + ")'>";
       $('#int2').append(addInterest2List); 
         
       	 interestInput = document.getElementById('isel'+count);
       	 interestInput.style.display = 'none'; 
       	 interestDelete = document.getElementById('idel'+count);
       	 interestDelete.style.display = 'none';  
         
       count++;
   }
   
      
 }  
   
   function deleteInterest(num) {
      selectedinterest2 = selectedinterest2.replace(interest2List[num],"")      // 중복금지차원
      $('#isel' + num).remove(); 
      $('#idel' + num).remove(); 
      $('#liisel' + num).remove(); 
      $('#liidel' + num).remove(); 
      
       
   } 
   
   function deleteCareer(num) {
      selectedCareer = selectedCareer.replace(careerList[num],"")      // 중복금지차원
       $('#csel' + num).remove(); 
      $('#cdel' + num).remove(); 
       $('#licsel' + num).remove(); 
      $('#licdel' + num).remove(); 
       
   }
    
</script>

</body>
</html>