<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<title></title>
</head>
<style>
#messageArea {
	width: 300px;
	height: 500px;
	border: 1px solid black;
	overflow: auto;
}
</style>
<body>
     
    <p>채팅 참여자 리스트</p>
    <div class="userList">
       <ul id="listArea">
       
       </ul>
    </div>
	<input id="username" type="hidden" th:value="${id}"> 접속자:
	[[${id}]]
	<div id="chat-page" class="">
		<div class="chat-container">
			<div class="chat-header">
				<h2>채팅 테스트</h2>
			</div>
			<ul id="messageArea">

			</ul>
			<form id="messageForm" name="messageForm">
				<div class="form-group">
					<div class="input-group clearfix">
						<input type="text" id="message" class="form-control" />
						<button type="submit" class="sendMessageBtn">보내기</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<img class="chatImg" src="chat.png">
	<img id="img_profile" th:src="@{'/member_image/'+${md.profileSaveName}}" style="width:200px; height:200px"/>


</body>

</html>

<script>

// var messageForm = $('#messageForm');
var messageForm = document.querySelector('#messageForm');
console.log(messageForm);
var messageInput = document.querySelector('#message');
var messageArea = document.querySelector('#messageArea');
var stompClient = null;
//로그인 아이디
var username = $("#username").val();



$(document).ready(function(){

	connect();
	messageForm.addEventListener('submit', sendMessage);
	
// 왜 제이쿼리로는 안되는 것인가~	
// 	$("#messageForm").on("submit", function(){
// 	   sendMessage();
// 	})
    
});

//창을 새로고치거나 종료하면 발생
window.onbeforeunload = function() {
	disconnect();
}

//연결
function connect() {

     console.log(username);
	if(username !== null) {      
        //서버소켓의 endpoint인 "/ws"로 접속할 클라이언트 소켓 생성
        var socket = new SockJS('/ws');
        //stomp 초기화하기위해 over를 사용 socket의 정보를 기반으로 설정
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(){
        	
        	//boardcasting api를 설정	
            stompClient.subscribe('/topic/public', allMessage);
        
        	stompClient.subscribe('/topic/userStatus', function(msg){
        		joinOutMessage(msg.body);      		
        	});
        	
        	stompClient.subscribe('/topic/userList', function(user){
        		console.log("되나여?");
        		userList(username);
        	});
        	
      	
        	//유저접속 메시지 전송
//             stompClient.send('/app/userStatus',{},JSON.stringify({sender: username, type: 'JOIN'}))   
            stompClient.send('/app/userJoin',{}, username + '님이 접속하셨습니다.');   
//             stompClient.send('/app/userList',{}, username);
        });
	}  
}

//연결 해제
function disconnect(){
	
     if (stompClient !== null){
    	 stompClient.send('/app/leave',{}, username + '님이 떠나셨습니다.');	
    	 stompClient.disconnect();

     }	
}

//에러났을떄 출력
// function onError(error) {
//     connectingElement.textContent = '오류 연결을 다시확인해주세요';
//     connectingElement.style.color = 'red';
// }

	
	


function sendMessage(e) {
	
	//메시지 내용을 담는다.
    var messageContent = messageInput.value.trim();
    //json형식으로 send메시지를 보냄
    if(messageContent && stompClient) {
        var chatMessage = {
            sender: username,
            content: messageInput.value,
            
        };

        stompClient.send('/app/sendMessage', {}, JSON.stringify(chatMessage));
        messageInput.value = '';
        
    }
    e.preventDefault();
    
}

//모두에게 메시지 전송
function allMessage(payload) {
	
	
	// 서버로 부터 수신한 message의 body를 json으로 파싱
	var message = JSON.parse(payload.body);
	
	//메시지 보내는 시간을 사용하기위해 선언
    var date = new Date().toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3"); 
    console.log(date);
    



//     var messageElement = document.createElement('li');

//     //sender를 표시할 span태그생성
//     var usernameElement = document.createElement('span');
//     //sender를 가지고옴
//     var usernameText = document.createTextNode(message.sender);
//     //usernameElement에 usernameText를자식요소로 사용
//     usernameElement.appendChild(usernameText);
//     //messageElement에 usernameElment를 자식요소로 상용
    
//     //message를 표시할 태그생성
//     var textElement = document.createElement('p');
//     //message를 가지고옴
//     var messageText = document.createTextNode(message.content);
//     //textElement에 messageText를 자식요소로사용
//     textElement.appendChild(messageText);
//     messageElement.appendChild(textElement);
//     messageArea.appendChild(messageElement);    
   
    
//     //date를 표시할 span태그생성
//     var dateElement = document.createElement('div');
//     //날자를 가져옴
//     var dateText = document.createTextNode(date);
    
//     dateElement.appendChild(dateText);
//     messageElement.appendChild(dateElement);
    if(message.sender === username){
    	$("#messageArea").append("<li class="">"+"<p>"+message.content+"</p>"+"<div>"+date+"</div>"+"</li>");
    }else{
    $("#messageArea").append("<li>"+"<span>"+message.sender+"</span>"+"<p>"+message.content+"</p>"+"<div>"+date+"</div>"+"</li>");
    }
    //안하면 스크롤바 생기면서 스크롤바가 위로이동
    messageArea.scrollTop = messageArea.scrollHeight;
    
}

//입장퇴장 메시지
function joinOutMessage(message){
	
// 	var messageElement = document.createElement('li');
// 	var textElement = document.createElement('p');
// 	var messageText = document.createTextNode(message);
//     textElement.appendChild(messageText);
//     messageElement.appendChild(textElement);
//     messageArea.appendChild(textElement);

	$("#messageArea").append("<p>"+message+"</p>")
    messageArea.scrollTop = messageArea.scrollHeight;
   
}

//유저 리스트
function userList(username){
	
	console.log("유저리스트 뽑기")
// 	var listElement = document.createElement('li');
// 	var textElement = document.createElement('p');
// 	var userList = document.createTextNode(username);
// 	textElement.appendChild(userList);
// 	listElement.appendChild(textElement);
// 	listArea.appendChild(listElement);
	$("#listArea").append("<li><p>"+username+"</p></li>")
   

	
}


// function userStatus(payload) {
    
// 	// 서버로 부터 수신한 message의 body를 json으로 파싱
// 	var message = JSON.parse(payload.body);

//     var messageElement = document.createElement('li');

//     if(message.type === 'JOIN') {
//         messageElement.classList.add('event-message');
//         message.content = message.sender + ' 님이 접속하셨습니다.';
//     } else if (message.type === 'LEAVE') {
//         messageElement.classList.add('event-message');
//         message.content = message.sender + ' 님이 떠나셨습니다.';
//     }
    
//     //message를 표시할 태그생성
//     var textElement = document.createElement('p');
//     //message를 가지고옴
//     var messageText = document.createTextNode(message.content);
//     //textElement에 messageText를 자식요소로사용
//     textElement.appendChild(messageText);

//     messageElement.appendChild(textElement);

//     messageArea.appendChild(messageElement);
    
//     //안하면 스크롤바 생기면서 스크롤바가 위로이동
//     messageArea.scrollTop = messageArea.scrollHeight;
       
// }




// function getAvatarColor(messageSender) {
//     var hash = 0;
//     for (var i = 0; i < messageSender.length; i++) {
//         hash = 31 * hash + messageSender.charCodeAt(i);
//     }

//     return ;
// }


</script>