<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- 	<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml"> -->
<head>
<title>Study Republic</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<style>
#pinterest2cd {
	display: none
}

#dinterest2cd {
	display: block-inline
}

#winterest2cd {
	display: none
}

#ninterest2cd {
	display: none
}

#edu {
	display: none
}
</style>

</head>


<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		<header id="header" layout:fragment="header">
			<div class="inner">

				<!-- Login -->
				<div id="logout" sec:authorize="isAuthenticated()">
					<ul>
						<li><a th:href="@{/logout}">로그아웃</a></li>

					</ul>
					</sec:authorize>
				</div>

				<div id="login" sec:authorize="isAnonymous()">
					<ul>
						<li><a href="/login">로그인</a></li>
						<li><a href="/member/signup">회원가입</a></li>
					</ul>
					</sec:authorize>
				</div>


				<!-- Logo -->


				<a href="index" class="logo"> <span class="symbol"><img
						th:src="@{/images/logo.svg}" alt="" /></span><span>Study Republic</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li class="nav-item"><a href="#menu" class="nav-link">Menu</a></li>
						<li class="nav-item"><a href="#" class="nav-link">일반 스터디</a></li>
						<li class="nav-item"><a href="#" class="nav-link">프리미엄
								스터디</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="#">자유 게시판</a> <a
									class="dropdown-item" href="#">스터디 요청 게시판</a> <a
									class="dropdown-item" href="#">문의 게시판</a>
							</div></li>
					</ul>
				</nav>

			</div>

		</header>

		<!--menu -->
		<nav id="menu" layout:fragment="menu">
			<h2>검색</h2>
			<br>
			<form id="search" action="/search" method="get">
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">스터디명</label><br>
					<input type="text" name="name"> <input type="submit"
						value="검색">
				</div>

				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">스터디유형</label><br>
					<input type="radio" name="typeCode.typeCode" value="B" checked> 일반
					<input type="radio" name="typeCode.typeCode" value="P"> 프리미엄
				</div>

				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">On/Off</label><br>
					<input type="radio" name="onoffCode.onoffCode" value="O" checked> On
					<input type="radio" name="onoffCode.onoffCode" value="F"> Off <input
						type="radio" name="onoffCode.onoffCode" value="B"> OnOff
				</div>

				<div class="interest_element_optional">
					<label class="mr-sm-2" for="inlineFormCustomSelect">지역</label><br>
					<input type="button" onclick="addInterestLocation()" value="interestLocation"><br>

					<div id="guide" style="color: #999; display: none"></div>
				</div>


				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">관심분야</label><br>
					<select class="custom-select mr-sm-2"
						id="interest1cd" size='1' onchange="interest1(this)">
						<option th:each="i1 :  ${interest1cd}"
							th:value="${i1.interest1Code}" th:text="${i1.codeValueKorean}">
						</option>
					</select> <span class="interestClass" name="dinterest2cd" id="dinterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="di2 :  ${dinterest2cd}"
								th:value="${di2.interest2Code}" th:text="${di2.codeValueKorean}">
							</option>
					</select></span> <span class="interestClass" name="ninterest2cd" id="ninterest2cd">
						<select class="custom-select mr-sm-2" size='1'
						onchange="interest2(this)">
							<option th:each="ni2 :  ${ninterest2cd}"
								th:value="${ni2.interest2Code}" th:text="${ni2.codeValueKorean}">
							</option>
					</select>
					</span> <span class="interestClass" name="pinterest2cd" id="pinterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="pi2 :  ${pinterest2cd}"
								th:value="${pi2.interest2Code}" th:text="${pi2.codeValueKorean}">
							</option>
					</select></span> <span class="interestClass" name="winterest2cd" id="winterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="wi2 :  ${winterest2cd}"
								th:value="${wi2.interest2Code}" th:text="${wi2.codeValueKorean}">
							</option>
					</select></span>

					<div id="interest1cd" name="interest1cd">
						<div id="int1"></div>
					</div>

					<div id="interest2cd" name="interest2cd">
						<div id="int2"></div>
					</div>
				</div>
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">날짜</label><br>
					<input type="text" data-range="true"
						data-multiple-dates-separator=" - " data-language="en"
						class="datepicker-here" name="searchDate" />
				</div>

				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">레벨</label><br>
					<select class="custom-select mr-sm-2" name="levelCode.levelCode">
						<option value="H">상</option>
						<option value="M">중</option>
						<option value="L">하</option>
					</select>
				</div>
				
				<div class="interest_element_tag">
						<span id="loc"> </span>
					</div>
			</form>

			<script>
				var AllselectBox = document.querySelectorAll(".interestClass");
				var Location = document
						.querySelector(".interest_element_optional");

				var interestArr = [ "데이터베이스", "네트워크&보안", "응용프로그래밍", "웹프로그래밍" ];
				var count = 0;

				var sinterest1 = "";
				var pinterest2cd = document.getElementById("pinterest2cd")

				var rad = document.getElementsByName("onoffCode.onoffCode");
				for (var i = 0; i < rad.length; i++) {
					rad[i].addEventListener('change', function() {
						if (this.value == 'O') {
							Location.style.display = 'none'
						} else {
							Location.style.display = 'block'
						}
					});
				}

				function interest1(obj) {
					sinterest1 = obj.options[obj.selectedIndex].text;
					for (var i = 0; i < AllselectBox.length; i++) {
						AllselectBox[i].style.display =
							'none';
						if (sinterest1 == interestArr[i]) {
							checkNum = i;
						}
					}
					AllselectBox[checkNum].style.display = 'inline-block';
				}

				var interest2List = new Array();
				var selectedinterest2 = "";
				var addInterest2List;
				var interestInput = "";
				var interestDelete = "";
				function interest2(obj) {
					var target = document.getElementById("int2");
					uniqueinterest2List = interest2List;
					
					if(~selectedinterest2.indexOf(obj.options[obj.selectedIndex].text))   {
					      alert("이미 선택한 분야입니다.");
					   }
					   else {
					      interest2List.push(obj.options[obj.selectedIndex].text);
					      selectedinterest2 += interest2List[interest2List.length-1];    
					   
					      
					       addInterest2List = "<input type='text' id = 'liisel" + count +"' value="+interest2List[interest2List.length-1]+" >"+
					       "<button id = 'liidel" + count + "' onclick = 'deleteInterest(" + count + ")'>X</button>"+
					       "<input type='hidden' name='interest' value="+obj.value+">";
					       $('.interest_element_tag').append(addInterest2List); 
					        
					         
					       count++;
					   }

				}

				function deleteInterest(num) {
					selectedinterest2 = selectedinterest2.replace(
							interest2List[num], "") // 중복금지차원 
					$('#liisel' + num).remove();
					$('#liidel' + num).remove();

				}
			</script>
		</nav>

		<hr>
		<!-- Main -->
		<div id="main" layout:fragment="main">
			<div class="inner"></div>
		</div>

		<!-- Footer -->
		<footer id="footer" layout:fragment="footer">
			<div class="inner">

				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="#" class="icon style2 fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon style2 fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon style2 fa-instagram"><span
								class="label">Instagram</span></a></li>
						<li><a href="#" class="icon style2 fa-dribbble"><span
								class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon style2 fa-github"><span
								class="label">GitHub</span></a></li>
						<li><a href="#" class="icon style2 fa-500px"><span
								class="label">500px</span></a></li>
						<li><a href="#" class="icon style2 fa-phone"><span
								class="label">Phone</span></a></li>
						<li><a href="#" class="icon style2 fa-envelope-o"><span
								class="label">Email</span></a></li>
					</ul>
				</section>

				<section>
					<h5>Generated By</h5>
					<h3>Study Republic</h3>
				</section>


				<ul class="copyright">
					<li>&copy; CopyLight 2019 BitCamp team 4</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>


	</div>

	<!-- Scripts -->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script th:src="@{/map.js}"></script>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/datepicker/js/datepicker.js}"></script>
	<script th:src="@{/datepicker/js/i18n/datepicker.en.js}"></script>




</body>
</html>