<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- 	<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml"> -->
<head>
<title>Study Republic</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/datepicker/css/datepicker.css}"
	type="text/css">
<div layout:fragment="bootCss">
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</div>
<div layout:fragment="customCss"></div>
<div layout:fragment="bootJs">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</div>

<style>
#pinterest2cd {
	display: none
}
#dinterest2cd {
	display: block-inline
}
#winterest2cd {
	display: none
}
#ninterest2cd {
	display: none
}
#edu {
	display: none
}

 	select option:hover,
    select option:focus,
    select option:active {
/*      background: rgb(179,220,248); */
        background-color: rgb(179,220,248); /* for IE */
        color: white;
    }

    select option:checked {
        background: linear-gradient(#d6d6d6, #d6d6d6);
        background-color: #d6d6d6 !important; /* for IE */
        color: #000000 !important;
    }

</style>

</head>


<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		<header id="header" layout:fragment="header">
			<div class="inner">

				<div>
				<!-- Login -->
				

				
			

				
				<div id = "logout" sec:authorize="hasRole('N')">
						
						

						
						<div class = "info" style = "display: inline-block; width:auto;height:50px;float:right;">
					
						<div id = "displaying" style = "visibility:hidden; float:right;">
						<ul > <!--  -->
						<li id = "loginli"><a th:href="@{/logout}">로그아웃</a></li>
						<li id = "loginli"><a th:href="@{/mypage}">마이페이지</a></li>				
						</ul>
						</div>
						
						<div style = "margin-bottom : 10px; float:right">
						<ul >			
						<li id = "loginli" th:text = "${session.nickname}+' 왔냐?'"></li>
						<li id = "loginimg"><img th:src = "@{'/member_image/'+${session.memberimg}}" style = "width:40px; height:40px; border-radius:100%; margin-bottom:5px; float:right;"></li>
						</ul>
						</div>
						

						

						
						</div>
						
						
							<div>
						<ul>
						<li style = "top:14px; text-overflow: ellipsis;">
						<select name = "joinStudy" id = "joinStudy" onchange = "joinStudy(this)" style ="border:solid 1px #b6babd; width:110px;height:auto; padding: 0 0 0 5px; background-position: calc(98%) center;" >
						<option th:each = "joinSt : ${session.studyNameList}"th:value="${joinSt}" th:text="${joinSt}"></option>
						</select>
						</li>
						</ul>
						</div>

				
						
						<div th:each = "joinStId : ${session.studyIdList}" style = "display:none">
							<input class = "joiningStudyId" type = "text" th:value = "${joinStId}">					
						</div>
						
						<div th:each = "joinStName : ${session.studyNameList}" style = "display:none">
							<input class = "joiningStudyName" type = "text" th:value = "${joinStName}">					
						</div>
						
						
						
						<!-- 스터디페이지 이동관련 폼 -->
						<div style = "display:none">
						<form id = "moveStudy" action = "/StudyPage/Main" method = "post">
						
						<input id = "studyId" name ="studyId">
						<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
						
						</form>
						</div>
						<!-- <div th:text = "${session.studyNameList}"></div>
 -->	
				
<!-- 							<select name="joinStudy" id="joinStudy"
							 onchange="joinStudy(this)">
								<option th:each="joinSt : ${joiningStudy}"
									th:value="${joinSt.study.name}" th:text="${joinSt.study.name}">
								</option>
							</select> -->
								
				</div>

				</div>

				<div id="login" sec:authorize="isAnonymous()">
					<ul>
						<li id = "loginli"><a href="/login">로그인</a></li>
						<li id = "loginli"><a href="/member/signup">회원가입</a></li>
					</ul>
					</sec:authorize>
				</div>
				
				<div id = "logout" sec:authorize="hasRole('A')">						
						<ul>
						<li id = "loginli"><a th:href="@{/logout}">로그아웃</a></li>
						<li id = "loginli"><a th:href="@{/adminPage/index}">관리자페이지</a></li>	
						<li id = "loginli" th:text = ${session.nickname}+'님' ></li>
						<li id = "loginimg"><img th:src = "@{'/member_image/'+${session.memberimg}}" style = "width:40px; height:40px; border-radius:100%;"></li>
						</ul>
				</div>
				


				<!-- Logo -->


				<a href="/index" class="logo"> <span class="symbol"><img
						th:src="@{/images/logo.svg}" alt="" /></span><span>Study Republic</span>
				</a>

			
				<!-- Nav -->
				<nav layout:fragment="header-nav">
					<ul>
						<li class="nav-item"><a href="#menu" class="nav-link">Menu</a></li>
						<li class="nav-item"><a href="/study/list/b" class="nav-link">일반
								스터디</a></li>
						<li class="nav-item"><a href="/study/list/p" class="nav-link">프리미엄
								스터디</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/board/listFreeBoard}">자유 게시판</a> <a
									class="dropdown-item" th:href="@{/board/listRequestBoard}">스터디 요청 게시판</a> <a
									class="dropdown-item" th:href="@{/board/listInquireBoard}">문의 게시판</a>
							</div></li>
					</ul>
				</nav>

			</div>

		</header>

		<!--Search -->
		<nav id="menu" layout:fragment="menu">
			<h2>검색</h2>
			<br>
			<form id="search" action="/search" method="get">
				<!-- 스터디명, 검색버튼  -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">스터디명</label><br>
					<input type="text" name="name"> <input type="submit"
						value="검색">
				</div>
				<!-- 스터디 종류(라디오버튼)  -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">스터디유형</label><br>
					<label><input type="radio" name="typeCode.typeCode"
						value="All" checked>전체</label> <label><input type="radio"
						name="typeCode.typeCode" value="B"> 일반</label> <label><input
						type="radio" name="typeCode.typeCode" value="P"> 프리미엄</label>
				</div>
				<!-- 스터디 유형(라디오버튼)  -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">On/Off</label><br>
					<label><input type="radio" name="onoffCode.onoffCode"
						value="All" checked>전체</label> <label><input type="radio"
						name="onoffCode.onoffCode" value="O"> On</label> <label><input
						type="radio" name="onoffCode.onoffCode" value="F"> Off </label> <label><input
						type="radio" name="onoffCode.onoffCode" value="B"> OnOff </label>
				</div>
				<!-- 지역정보, 스터디 유헹에서 on,onoff일때 display  -->
				<div class="interest_element_optional">
					<label class="mr-sm-2" for="inlineFormCustomSelect">지역</label><br>
					<input type="button" onclick="addInterestLocation()"
						value="interestLocation"><br>

					<div id="guide" style="color: #999; display: none"></div>
				</div>
				<!-- 관심분야 Start  -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">관심분야</label><br>
					<select class="custom-select mr-sm-2" id="interest1cd" size='1'
						onchange="interest1(this)">
						<option th:each="i1 :  ${interest1cd}"
							th:value="${i1.interest1Code}" th:text="${i1.codeValueKorean}">
						</option>
					</select> <span class="interestClass" name="dinterest2cd" id="dinterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="di2 :  ${dinterest2cd}"
								th:value="${di2.interest2Code}" th:text="${di2.codeValueKorean}">
							</option>
					</select></span> <span class="interestClass" name="ninterest2cd" id="ninterest2cd">
						<select class="custom-select mr-sm-2" size='1'
						onchange="interest2(this)">
							<option th:each="ni2 :  ${ninterest2cd}"
								th:value="${ni2.interest2Code}" th:text="${ni2.codeValueKorean}">
							</option>
					</select>
					</span> <span class="interestClass" name="pinterest2cd" id="pinterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="pi2 :  ${pinterest2cd}"
								th:value="${pi2.interest2Code}" th:text="${pi2.codeValueKorean}">
							</option>
					</select></span> <span class="interestClass" name="winterest2cd" id="winterest2cd"><select
						class="custom-select mr-sm-2" size='1' onchange="interest2(this)">
							<option th:each="wi2 :  ${winterest2cd}"
								th:value="${wi2.interest2Code}" th:text="${wi2.codeValueKorean}">
							</option>
					</select></span>

					<div id="interest1cd" name="interest1cd">
						<div id="int1"></div>
					</div>

					<div id="interest2cd" name="interest2cd">
						<div id="int2"></div>
					</div>
				</div>
				<!-- 관심분야 End  -->
				
				<!-- 날짜 정보, datepicker 사용  -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">날짜</label><br>
					<input type="text" data-range="true"
						data-multiple-dates-separator=" - " data-language="en"
						class="datepicker-here" name="searchDate" readonly="readonly" />
				</div>
				<!-- 레벨 코드 -->
				<div class="interest_element">
					<label class="mr-sm-2" for="inlineFormCustomSelect">레벨</label><br>
					<select class="custom-select mr-sm-2" name="levelCode.levelCode">
						<option value="All">전체</option>
						<option value="H">상</option>
						<option value="M">중</option>
						<option value="L">하</option>
					</select>
				</div>
				<!-- 지역정보와 관심분야의 태그 -->
				<div class="interest_element_tag">
					<span id="loc"> </span>
				</div>
			</form>
		</nav>
		<!-- Search End -->
		<hr>
		<!-- Main -->
		<div id="main" layout:fragment="main">
			<div class="inner"></div>
		</div>

		<!-- Footer -->
		<footer id="footer" layout:fragment="footer">
			<div class="inner">

				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="#" class="icon style2 fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon style2 fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon style2 fa-instagram"><span
								class="label">Instagram</span></a></li>
						<li><a href="#" class="icon style2 fa-dribbble"><span
								class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon style2 fa-github"><span
								class="label">GitHub</span></a></li>
						<li><a href="#" class="icon style2 fa-500px"><span
								class="label">500px</span></a></li>
						<li><a href="#" class="icon style2 fa-phone"><span
								class="label">Phone</span></a></li>
						<li><a href="#" class="icon style2 fa-envelope-o"><span
								class="label">Email</span></a></li>
					</ul>
				</section>

				<section>
					<h5>Generated By</h5>
					<h3>Study Republic</h3>
				</section>


				<ul class="copyright">
					<li>&copy; CopyLight 2019 BitCamp team 4</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>


	</div>

	<!-- Scripts -->
	<script th:src="@{/searchInterest.js}"></script>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script th:src="@{/map.js}"></script>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/datepicker/js/datepicker.js}"></script>
	<script th:src="@{/datepicker/js/i18n/datepicker.en.js}"></script>
	<div layout:fragment="customScript"></div>

	<script>
	
	var joiningStudyId = document.getElementsByClassName("joiningStudyId");
	var joiningStudyText = document.getElementsByClassName("joiningStudyName");
	
	var studyText = new Array(joiningStudyText.length);
	
	var joinStudyListText = "";
	var joinStudyListValue = "";
	

	
	function joinStudy(obj) {		/* 스터디페이지이동..js  */
		
		for ( var i = 0; i < studyText.length; i++) {
				studyText[i] = joiningStudyText[i].value;
		}
		
		for ( var i = 0; i < studyText.length; i++) {
			if ( studyText[i] == obj.options[obj.selectedIndex].value) {
				joinStudyListValue = joiningStudyId[i].value
			}
		}
		/* document.getElementById('studyId').style.display = 'none'; */
		document.getElementById('studyId').value = joinStudyListValue
		document.getElementById('moveStudy').submit();
		

		
	}
	

	$(function(){
		$('.info').mouseenter(function(){
			document.getElementById('displaying').style.visibility = 'visible';
			document.getElementById('displaying').style.float = 'right';
		});
		
		$('.info').mouseleave(function(){
			document.getElementById('displaying').style.visibility = 'hidden';
		});
		
		
	});
	
	
	</script>

</body>
</html>