<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mainLayout}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
   th:content="${_csrf.headerName}" />
<title>Main Page</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<style>
.dropdown-toggle::after {
	border: none !important;
}
</style>
</head>
<body>
	<div id="main" layout:fragment="main">
		<div class="inner">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">



				<!-- Indicators -->
				<ul class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ul>

				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images/main_banner_2.jpg" alt="Second" width="1100" height="300">
					</div>
					<div class="carousel-item">
						<img src="images/main_banner_3.jpg" alt="Third" width="1100" height="300">
					</div>
					<div class="carousel-item">
						<img src="images/main_banner_4.jpg" alt="first" width="1100" height="300">
					</div>					
					<div class="carousel-item">
						<img src="images/main_banner_1.jpg" alt="first" width="1100" height="300">
					</div>


				</div>

				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#myCarousel"
					data-slide="prev"> <span class="carousel-control-prev-icon"></span>
				</a> <a class="carousel-control-next" href="#myCarousel"
					data-slide="next"> <span class="carousel-control-next-icon"></span>
				</a>
			</div>
			<hr>

			<div class="container text-center">
				<h3 style="margin: 0">프리미엄 스터디</h3>
				<div class="tiles">
					<div class="row">
						<div class="col-sm-3">
							<h5>
								popular<br>Tags
							</h5>
							<br>
							<div th:with="popularTag = ${premiumPopularTag}">
								<a th:text="${popularTag[0].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=B&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[0].interest2Code}"
									class="btn btn-outline-primary" role="button"></a><br> <br>
								<a th:text="${popularTag[1].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=B&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[1].interest2Code}"
									class="btn btn-outline-secondary" role="button"></a><br> <br>
								<a th:text="${popularTag[2].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=B&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[2].interest2Code}"
									class="btn btn-outline-success" role="button"></a><br> <br>
							</div>
						</div>

						<!-- <div th:with="study=${popularPremiumStudy0}" class="col-sm-3">
							<article class="style1">
								<span class="image"> <img th:if="${study !=null}"
									th:src="'images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'"
									alt="" /> <img th:unless="${study != null}"
									src="images/pic01.jpg">
								</span> <a
									th:href="${study != null}?
										'/study/detail/'+${study.studyId}:'#'">
									<h6
										th:text="${study != null}?${study.name}:'아직 인증된 강의가 존재하지 않습니다.'"></h6>
									<div class="content">
										<p
											th:text="${study != null}?
										${study.introduction}:'리뷰 4.5이상의 강의 경력을 가진 인증된 강사의 강의를 기대해주세요.'">
										</p>
									</div>
								</a>
							</article>
						</div>

						<div th:with="study=${popularPremiumStudy1}" class="col-sm-3">
							<article class="style2">
								<span class="image"> <img th:if="${study !=null}"
									th:src="'images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'"
									alt="" /> <img th:unless="${study != null}"
									src="images/pic01.jpg">
								</span> <a
									th:href="${study != null}?
										'/study/detail/'+${study.studyId}:'#'">
									<h6
										th:text="${study != null}?
									${study.name}:'아직 인증된 강의가 존재하지 않습니다.'"></h6>
									<div class="content">
										<p
											th:text="${study != null}?
										${study.introduction}:'리뷰 4.5이상의 강의 경력을 가진 인증된 강사의 강의를 기대해주세요.'">
										</p>
									</div>
								</a>
							</article>
						</div> -->
						<div th:each="study : ${popularPremiumStudy}" class="col-sm-3">
							<article class="style1" style="margin: 0 10em 0 0;">
								<div class="card-container" style="zoom: 0.8;">
									<div class="card">
										<div class="front">
											<div class="cover">
												<img
													th:src="'/images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'">
												<div class="studyType"
													th:text="${study.typeCode.codeValueKorean}"></div>
												<div class="studyOnoff"
													th:text="${study.onoffCode.codeValueKorean}"></div>
											</div>
											<div class="profile_box">
												<div class="user">
													<img class="img-circle" th:src="@{'/member_image/'+${study.member.profileSaveName}}" />
												</div>
													<p class="profession" th:text="${study.member.name}"
														style="margin-bottom: 2px; font-weight: bold;">CEO</p>
													<p class="profession" th:text="${study.member.nickname}">CEO</p>
											</div>
											<h6 class="name" th:text="${study.name}">John Marvel</h6>
											<div class="content">
												<div class="main">
													<p class="text-center"
														th:text="|￦${study.price.price}"
														style="color: #ff005a; font-weight: bold;"></p>
													<br>
													<p class="text-center"
														th:text="|${study.startDate}~${study.endDate}|+' '+${study.dayCode.codeValueKorean}"></p>
													<p class="text-center"
														th:text="'관심분야 : '+${study.studyInterest[0].interest2code.codeValueKorean}+' / 레벨 : '+${study.levelCode.codeValueKorean}"></p>
													<i class="tag btn-primary"
														th:text="|${study.studyStatusCode.codeValueKorean}&nbsp|"
														style="color:white;background: #ff7600; float: right;"></i>
												</div>
											</div>
										</div>
										<!-- end front panel -->
										<div class="back">
											<div class="header">
												<h5 class="motto">스터디 간략상세</h5>
											</div>
											<div class="content">
												<div class="main">
													<div th:utext="${study.introduction}" style="margin-bottom: 10px; height: 40px;overflow: hidden;"></div>
													<p th:text="|일시 : ${study.startDate}~${study.endDate}|"
														style="margin-bottom: 3px;"></p>
													<p
														th:utext="|시간 : 매주 ${study.dayCode.codeValueKorean}요일 ${#dates.format(study.startTime, 'HH:mm')}~${#dates.format(study.endTime, 'HH:mm')}|"
														style="margin-bottom: 3px;"></p>
													<p
														th:text="${study.onoffCode.codeValueKorean}!='온라인'?|지역 : ${study.studyLocation[0].interestLocation}|:''"
														style="margin-bottom: 3px;"></p>
													<div class="stats-container">
														<div class="stats">
															<h6
																th:text="|${study.enrollActual}/${study.enrollCapacity}|"></h6>
															<p>정원</p>
														</div>
														<div class="stats">
															<h6 th:text="${study.hasLeveltest==1?'있음':'없음'}"></h6>
															<p>레벨테스트</p>
														</div>
														<div class="stats">
															<h6 th:text="${study.levelCode.codeValueKorean}"></h6>
															<p>난이도</p>
														</div>
													</div>

												</div>
											</div>
											<div class="footer">
												<div class="social-links text-center">
													<input type="hidden" class="studyId-container" th:value="${study.studyId}">
													<a class="btn-join-study" th:href="@{'/study/join/' + ${study.studyId}}">신청</a> <a
														th:href="@{'/study/detail/' + ${study.studyId}}">상세</a>
												</div>
											</div>
										</div>
										<!-- end back panel -->


									</div>
									<!-- end card -->
								</div>
								<!-- end card-container -->
							</article>
						</div>


						<th:block th:if="${popularPremiumStudy.size()<2}" th:each="num:${#numbers.sequence(popularPremiumStudy.size(),1)}">
							<div  class="col-sm-3">
							<article class="style1" style="margin: 0 10em 0 0;">
								<div class="card-container-nonehover" style="zoom: 0.8;">
									<div class="card">
										<div class="front">
											<div class="cover">
												<img src="images/pic01.jpg">
												<div class="studyType">프리미엄</div>
												<div class="studyOnoff">온오프라인</div>
											</div>
											<div class="profile_box">
												<div class="user">
													<img class="img-circle" src="images/pic01.jpg" />
												</div>
													<p class="profession">인증강사</p>
											</div>
											<h6 class="name">아직 인증된 강의가 존재하지 않습니다</h6>
											<div class="content">
												<div class="main">
													<p class="text-center" style="color: #ff005a; font-weight: bold;">리뷰 4.5이상의 강의 경력을 가진 인증된 강사의 강의를 기대해주세요.</p>
													<br>
													<p class="text-center"></p>
													<p class="text-center"></p>
													<i class="tag btn-primary" style="color: blue; float: right;"></i>
												</div>
											</div>
										</div>
										</div>
										</div>
										</article>
										</div>
										<!-- end front panel -->
						</th:block>

						<div class="col-sm-3">
							<article>
								<h5>추천 강사</h5>
								<br>
								<div th:each="member : ${recommendTutorMember}"
									class="list-group">
									<a th:text="${member.nickname}"
										th:href="@{'/tutor/profile/p'(id=${member.id})}"
										class="list-group-item">aaa123</a>
								</div>
							</article>
						</div>

					</div>
				</div>
			</div>
			<hr>

			<div class="container text-center">
				<h3 style="margin: 0">일반 스터디</h3>
				<div class="tiles">
					<div class="row">
						<div class="col-sm-3">
							<h5>
								popular<br>Tags
							</h5>
							<br>
							<div th:with="popularTag = ${basicPopularTag}">
								<a th:text="${popularTag[0].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=P&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[0].interest2Code}"
									class="btn btn-outline-primary" role="button"></a><br> <br>
								<a th:text="${popularTag[1].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=P&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[0].interest2Code}"
									class="btn btn-outline-secondary" role="button"></a><br> <br>
								<a th:text="${popularTag[2].codeValueEnglish}"
									th:href="'search?name=&typeCode.typeCode=P&onoffCode.onoffCode=All&searchDate=&levelCode.levelCode=All&interest='+${popularTag[0].interest2Code}"
									class="btn btn-outline-success" role="button"></a><br> <br>
							</div>
						</div>
						<div th:each="study : ${popularBasicStudy}" class="col-sm-3">
							<article class="style1" style="margin: 0 10em 0 0;">
								<div class="card-container" style="zoom: 0.8;">
									<div class="card">
										<div class="front">
											<div class="cover">
												<img
													th:src="'/images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'">
												<div class="studyType"
													th:text="${study.typeCode.codeValueKorean}"></div>
												<div class="studyOnoff"
													th:text="${study.onoffCode.codeValueKorean}"></div>
											</div>
											<div class="profile_box">
												<div class="user">
													<img class="img-circle" th:src="@{'/member_image/'+${study.member.profileSaveName}}" />
												</div>
													<p class="profession" th:text="${study.member.nickname}">CEO</p>
											</div>
											<h6 class="name" th:text="${study.name}">John Marvel</h6>
											<div class="content">
												<div class="main">
													<p class="text-center"
														style="color: #ff005a; font-weight: bold;"></p>
													<br>
													<p class="text-center"
														th:text="|${study.startDate}~${study.endDate}|+' '+${study.dayCode.codeValueKorean}"></p>
													<p class="text-center"
														th:text="'관심분야 : '+${study.studyInterest[0].interest2code.codeValueKorean}+' / 레벨 : '+${study.levelCode.codeValueKorean}"></p>
													<i class="tag btn-primary"
														th:text="|${study.studyStatusCode.codeValueKorean}&nbsp|"
														style="color:white;background: #ff7600; float: right;"></i>
												</div>
											</div>
										</div>
										<!-- end front panel -->
										<div class="back">
											<div class="header">
												<h5 class="motto">스터디 간략상세</h5>
											</div>
											<div class="content">
												<div class="main">
													<div th:utext="${study.introduction}" style="margin-bottom: 10px; height: 40px;overflow: hidden;"></div>
													<p th:text="|일시 : ${study.startDate}~${study.endDate}|"
														style="margin-bottom: 3px;"></p>
													<p
														th:utext="|시간 : 매주 ${study.dayCode.codeValueKorean}요일 ${#dates.format(study.startTime, 'HH:mm')}~${#dates.format(study.endTime, 'HH:mm')}|"
														style="margin-bottom: 3px;"></p>
													<p
														th:text="${study.onoffCode.codeValueKorean}!='온라인'?|지역 : ${study.studyLocation[0].interestLocation}|:''"
														style="margin-bottom: 3px;"></p>
													<div class="stats-container">
														<div class="stats">
															<h6
																th:text="|${study.enrollActual}/${study.enrollCapacity}|"></h6>
															<p>정원</p>
														</div>
														<div class="stats">
															<h6 th:text="${study.hasLeveltest==1?'있음':'없음'}"></h6>
															<p>레벨테스트</p>
														</div>
														<div class="stats">
															<h6 th:text="${study.levelCode.codeValueKorean}"></h6>
															<p>난이도</p>
														</div>
													</div>

												</div>
											</div>
											<div class="footer">
												<div class="social-links text-center">
													<input type="hidden" class="studyId-container" th:value="${study.studyId}">
													<a class="btn-join-study" th:href="@{'/study/join/' + ${study.studyId}}">신청</a> <a
														th:href="@{'/study/detail/' + ${study.studyId}}">상세</a>
												</div>
											</div>
										</div>
										<!-- end back panel -->


									</div>
									<!-- end card -->
								</div>
								<!-- end card-container -->
							</article>
						</div>

						<th:block th:if="${popularBasicStudy.size()<2}" th:each="num:${#numbers.sequence(popularBasicStudy.size(),1)}">
							<div  class="col-sm-3">
							<article class="style1" style="margin: 0 10em 0 0;">
								<div class="card-container-nonehover" style="zoom: 0.8;">
									<div class="card">
										<div class="front">
											<div class="cover">
												<img src="images/pic01.jpg">
												<div class="studyType">프리미엄</div>
												<div class="studyOnoff">온오프라인</div>
											</div>
											<div class="profile_box">
												<div class="user">
													<img class="img-circle" src="images/pic01.jpg" />
												</div>
													<p class="profession">인증강사</p>
											</div>
											<h6 class="name">아직 인증된 강의가 존재하지 않습니다</h6>
											<div class="content">
												<div class="main">
													<p class="text-center" style="color: #ff005a; font-weight: bold;">리뷰 4.5이상의 강의 경력을 가진 인증된 강사의 강의를 기대해주세요.</p>
													<br>
													<p class="text-center"></p>
													<p class="text-center"></p>
													<i class="tag btn-primary" style="color: blue; float: right;"></i>
												</div>
											</div>
										</div>
										</div>
										</div>
										</article>
										</div>
										<!-- end front panel -->
						</th:block>

						<!-- <div th:with="study=${popularBasicStudy1}" class="col-sm-3">
							<article class="style2">
								<span class="image"> <img th:if="${study !=null}"
									th:src="'images/'+${study.studyInterest[0].interest2code.interest2Code}+'.jpg'"
									alt="" /> <img th:unless="${study != null}"
									src="images/pic01.jpg">
								</span> <a th:href="${study != null}?
										'/study/detail/'+${study.studyId}:'#'">
									<h6
										th:text="${study != null}?
									${study.name}:'아직 인증된 강의가 존재하지 않습니다.'"></h6>
									<div class="content">
										<p
											th:text="${study != null}?
										${study.introduction}:'리뷰 4.5이상의 강의 경력을 가진 인증된 강사의 강의를 기대해주세요.'">
										</p>
									</div>
								</a>
							</article>
						</div> -->

						<div class="col-sm-3">
							<article>
								<h5>추천 멤버</h5>
								<br>
								<!-- <div th:each="member : ${recommendTutorMember}" class="list-group">
									<a th:text="${member.nickname}" href="#"
										class="list-group-item">aaa123</a>
								</div> -->
								<div class="list-group"
									th:each="member : ${recommendNomalMember}">
									<div class="dropdown">
										<a class="list-group-item" data-toggle="dropdown"
											th:text="${member.nickname}"></a>

										<div class="dropdown-menu">
											<a class="dropdown-item" data-toggle="modal"
												data-target="#messagewrite"
												th:data-receive-id="${member.id}">쪽지쓰기</a> <a
												class="dropdown-item" data-toggle="modal"
												data-target="#memberinfo" th:data-member-info="${member.id}">유저정보</a>
										</div>
									</div>
								</div>
								<!-- 모달창 쪽지쓰기창 시작 -->
								<div class="modal" id="messagewrite">
									<div class="modal-dialog">
										<div class="modal-content">

											<div class="modal-header">
												<h4 class="modal-title">쪽지쓰기</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>


											<div class="modal-body">
												<form method="POST" action="/modalmessageWriteResult"
													name="modalmessage">
													<div class="card border-primary rounded-0">
														<div class="card-header p-0">
															<div class="bg-info text-white text-center py-2">
																<h3>
																	<i class="fa fa-envelope"></i>
																</h3>
																<p class="m-0">쪽지쓰기</p>
															</div>
														</div>
														<div class="card-body p-3">


															<div class="form-group">
																<div class="input-group mb-2">
																	<div class="input-group-prepend">
																		<div class="input-group-text">
																			<i class="fa fa-user text-info"></i>
																		</div>
																	</div>
																	<input type="text" class="form-control" id="receiveId"
																		name="receiveId" placeholder="받는사람을 입력해주세요." value=""
																		required />
																</div>
															</div>

															<div class="form-group">
																<div class="input-group mb-2">
																	<div class="input-group-prepend">
																		<div class="input-group-text">
																			<i class="fa fa-comment text-info"></i>
																		</div>
																	</div>
																	<textarea class="form-control" name="messageContent"
																		id="messageContent" placeholder="내용을 입력해주세요." required></textarea>
																</div>
															</div>

															<div class="text-center">
																<input type="hidden" th:name="${_csrf.parameterName}"
																	th:value="${_csrf.token}" /> <input type="button"
																	value="전송하기" data-toggle="modal"
																	data-target="#completemessage"
																	class="btn btn-info btn-block rounded-0 py-2"
																	onclick="gomessage()">
															</div>
															<span><a
																class="btn btn-info btn-block rounded-0 py-2"
																id="modimember" th:href="@{receiveMessage}"
																role="button">취소</a></span>


														</div>

													</div>
												</form>
											</div>


											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Close</button>
											</div>


										</div>
									</div>
								</div>

								<!-- 모달창 쪽지쓰기창 끝 -->
								<!-- 모달창 완료 메세지 -->
								<div class="modal" id="completemessage">

									<div class="modal-dialog modal-sm">
										<div class="modal-content">

											<!-- Modal body -->
											<div class="modal-body">쪽지가 전송되었습니다.</div>
											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>

								<!-- 모달창 유저정보 시작 -->
								<div class="modal" id="memberinfo">
									<div class="modal-dialog">
										<div class="modal-content" style="background-color: white;">

											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Modal Heading</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>

											<!-- Modal body -->
											<div class="modal-body">
												<input type="text" id="memberInfo" name="memberInfo" value= />

											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div>
								<!-- 모달창 유저정보 끝 -->
								<script>
								
								<!-- Spring Security ~ Ajax 관련 추가 코드 BY 성호님 -->
								var token = $("meta[name='_csrf']").attr("content");
								var header = $("meta[name='_csrf_header']").attr("content");
								$(function() {
									$(document).ajaxSend(function(e, xhr, options) {
										xhr.setRequestHeader(header, token);
									});
								});
								
									$('#messagewrite')
											.on(
													'show.bs.modal',
													function(e) {
														var receiveId = $(
																e.relatedTarget)
																.data(
																		'receive-id');
														$(e.currentTarget)
																.find(
																		'input[name="receiveId"]')
																.val(receiveId);
													});

									$('#memberinfo')
											.on(
													'show.bs.modal',
													function(e) {
														var memberInfo = $(
																e.relatedTarget)
																.data(
																		'member-info');
														$(e.currentTarget)
																.find(
																		'input[name="memberInfo"]')
																.val(memberInfo);
													});
									
									<!-- 스터디 가입 신청 전 체크 -->
										$('.btn-join-study').on('click', function(e) {
											// 모집 마감된 스터디는 버튼을 비활성화 한다.
											if ($('.btn-join-study').hasClass('disable')) {
												e.preventDefault();
												return;
											}

											// 1) 비로그인 유저의 경우 --> 로그인 페이지
											// *** 로그인 여부 판별하는 방법 확인하기
											var joinBtn = $('.btn-join-study')[0];
											
											var pathname = window.location.pathname;
//							 				var studyId = pathname.replace('/study/detail/', '');
											var studyId = $(this).prev('.studyId-container').val();
											var originUrl = window.location.origin;
											var location = "";
											var userId = document.getElementById('loggedInUserId').value;

											if (joinBtn.dataset.userType == "anonymous") {
												alert("로그인 후 신청할 수 있어요!");
												location = "/study/pleaseLogin/?pathname=" + pathname;
												window.location.href = originUrl + location;
//							 					location = "/login";
//							 					window.location.replace = originUrl + location;					
												// 로그인 후 스터디 가입 페이지로 이동하도록 처리할 것! ******** --> SecurityConfig.java 에서 처리 완료
												// ==> 스터디 상세 페이지로 다시 이동해야 신청 권한 검증이 가능함. 처리 필요. 

											} else if (joinBtn.dataset.userType == "authenticated") {
												// 3) 이미 가입된 스터디, 거절/탈퇴한 스터디, 가입 승인 대기중인 스터디인 경우 --> 메시지	==> 예기치 못한 Ajax...
												$.ajax({
													type : "GET",
													contentType : "application/json",
													url : "/study/prejoin",
													data : {
														"studyId" : studyId,
														"userId" : userId
													},
													/* dataType : 'json', */
													cache : false,
													timeout : 600000,
													success : function(data) {
														console.log("Success: " + data);
														
														if (!data) {
															var answer = confirm("이 스터디에 가입하시겠어요?");
															if(answer) {
																location = "/study/join/" + studyId/*  + "?id=" + userId */;
																window.location.href = originUrl + location;
															} else {
																return;
															}
														}
														/* var jsonData = JSON.parse(data);
														var studyMemberStatusCode = jsonData.studyMemberStatusCode.studyMemberStatusCode; */
														var studyMemberStatusCode = data.studyMemberStatusCode.studyMemberStatusCode;
														console.log("studyMemberStatusCode = " + studyMemberStatusCode);

														switch (studyMemberStatusCode) {
															case "WA":
																alert("승인 대기중인 스터디입니다.");
																return;
															case "ME":
															case "LE":
																alert("이미 가입된 스터디입니다.");
																return;
															case "EX":
															case "DE":
																alert("가입이 거절되거나 탈퇴한 스터디는 다시 신청할 수 없습니다.");
																return;
														}
													},
													error : function(e) {
														console.log("Error: " + e);
														return false;
													}
												});
											}
										});
								</script>
							</article>
						</div>
					</div>
				</div>
			</div>

		</div>
		<br>


	</div>
</body>


</html>