<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/mainLayout}">
<head>



	<title>회원가입</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/> 
<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Login_v18/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Login_v18/css/main.css">
<!--===============================================================================================-->

<style>

#main {
background-color:#f8f9fa00;
}
</style>

</head>
<body>
	
<div id = "wrapper"> 
<div layout:fragment = "main">
<div class = "inner"> 


	<div class="limiter">
				


				<form id = "memberjoin" class="login100-form validate-form" method="post" autocomplete = "off" action = "/member/insert" >
							
					 <span class="login100-form-title p-b-43">
						StudyRepublic
					</span>
								
						<div class="join-input100" data-validate = "아이디를 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="text" id= "id" name = "id" onblur = "check_Id()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">아이디</span>
						<span class = "member" id="enterId"></span>						
						</div>
					
						<div class="join-form-btn" style = "float:left; margin: 15px 0px 0px 50px">	
				 		<button type = "button" id = "checkId"> 중복체크  </button>
						</div>
				
						<div class="join-input100" data-validate = "비밀번호를 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="password" id= "password" name = "password" onblur = "check_Pw()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">비밀번호</span>
						<span class = "member" id="enterPw"></span>	
						</div>
						
						<div class="join-input100" data-validate = "비밀번호확인을 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="password" id="repassword" name = "repassword"  onblur="check_RePw()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">비밀번호확인</span>
						<span class = "member" id="enterRePw"></span>
						</div>

						<div class="join-input100" data-validate = "이름을 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="text" id="name" name = "name" onblur="check_Name()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">이름</span>
						<span class = "member" id="enterName"></span>
						</div>
						
						<div class="join-input100" data-validate = "생년월일을 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="date" id="birth" value = "1990-01-01" min = "1900-01-01" max = "2019-01-01" name = "birth" onblur="check_Birth()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100" style = "top:15px;">생년월일</span>
						<span class = "member" id="enterBirth"></span>
						</div>
						
						<div class="join-input100" data-validate = "닉네임을 입력해주세요." style = "float:left;"> 
						<input class = "input100" type="text" id="nickname" name = "nickname"  onblur="check_Nick()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">닉네임</span>
						<span class = "member" id="enterNick"></span>
						</div>
						
						<div class="join-form-btn" style = "float:left; margin: 15px 0px 0px 50px">	
				 		<button id = "checkNick" type = "button"> 중복체크  </button>
						</div>
						
						<div class="join-input100" data-validate = "성별을 선택해주세요." style = "float:left; margin : 0 50px 30px 0;"> 
						<input class = "input100" type="radio" id = "gender" name="gender" value="남" onblur="check_Gender()"/>
						<label for = "gender" style = "margin:30px 0px 0px 10px">남자</label>
						<input class = "input100" type="radio" id = "gender" name="gender" value="여" onblur="check_Gender()"/>
						<label for = "gender" style = "margin:30px 0px 0px 10px">여자</label>
						<span class="focus-input100"></span>
						<span class="label-radio">성별</span>
						<span class = "member" id = "enterGender" style = "padding:10px 160px 0px 26px"></span>
						<span class = "member" id = "enterGender" style = "display:none"></span>
						</div>		
			
						<div class="join-input100" data-validate = "이메일을 선택해주세요." style = "float:left;   margin:0px 10px 30px 0px; width:170px"> 
						<input class="input100" type="text" name="email1" id="email1" value="" onblur = "emailvalue()">
						<span class="focus-input100"></span>
						<span class="label-input100">이메일</span>
						<span class = "member" id = "enterEmail"></span>
						</div>
			
						<div class="join-input100" data-validate = "이메일을 선택해주세요." style = "float:left;   margin:0px 10px 30px 0px; width:20px; border:none"> 
						<span class="label-input100" style = "padding:0">@</span>
						</div>
			
						<div class="join-input100" data-validate = "이메일을 선택해주세요." style = "float:left;   margin:0px 10px 30px 0px; width:170px; padding: 0px 0px 26px 0px;"> 
						<input class = "input100" type="text" name="email2" id="email2" value="" disabled  onblur = "emailvalue()" >
						<span class="focus-input100"></span>
						<span class="label-input100"></span>
						<span class = "member" style = "display:none"></span>
						</div>
						
						<div class="join-input100" data-validate = "이메일을 선택해주세요." style = "float:left;  margin:0px 0px 30px 0px; width:150px;">  
				            <select name="email3" id="email3" onchange="email_change(this)" onblur = "emailvalue()" style = "padding: 0px 0px 0px 15px">
				            <option value="0">선택</option>
				            <option value="9">직접입력</option>
				            <option value="naver.com">Naver</option>
				            <option value="hanmail.net">Daum</option>
				            <option value="gmail.com">Gmail</option>
         					</select>  
						</div>
						

						<input class = "memberInput" type="text" id="email" name = "email"  onkeyup = "remove_Message()" onfocus = "resetIdCheck()" style = "display:none">
						
						
						<div class="join-input100" data-validate = "전화번호를 입력해주세요." style = "float:left;"> 
						<input class = "input100" type = "text" id="phonenumber" name = "phonenumber" maxlength = "11" onblur="check_Phone()" onkeyup = "remove_Message()">
						<span class="focus-input100"></span>
						<span class="label-input100">휴대전화번호</span>
						<span class = "member" id="enterPhone"></span>
						</div>
						
						
						
						<div class="join-input100" style = "border: 0; margin: -10px 0px -19px 0px;">
						<span class="label-input100">스터디 관심지역</span>
						</div>
						
						<div class="join-input100" id = "loc" style = "float:left; height:50px; width:450px">
						<div id="guide" style="color:#999;display:none;"></div>
						<span class="focus-input100"></span>
						
						</div>
						
						<div class="join-form-btn" style = "float:left; margin: 0px 0px 0px 50px; width:12px" >	
				 		<button type = "button" id = "addLoctaion" onclick = "addInterestLocation_join()"> + </button>
						</div>
						
						<input id = "roles" type = "text" name = "roles[0].roleName" value = "N" style = "display : none">

					<div class="container-login100-form-btn">
						<button type="button" id = "signup" class="login100-form-btn">
							회원가입
						</button>
					</div>
					
					
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
					
				</form>
			</div>


	
	
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/bootstrap/js/popper.js"></script>
	<script src="/Login_v18/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/daterangepicker/moment.min.js"></script>
	<script src="/Login_v18/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/js/main.js"></script>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript">
var count = 0;
var allSpan = document.querySelectorAll("span");

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(function() {
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
});

                
     
     var data = {};
     var idCheck;
         
       $('#checkId').on('click', function(){
          var inputedId = $('#id').val();
       data.id = $('#id').val();
       $.ajax({
          type : 'POST',
          data : data,
          url:'/member/checkid',
          
          success:function(data){
               if ( $.trim(inputedId).length == 0 ) {            
                  alert("아이디를 입력해주세요.");

                  idCheck = 1;
               } else if (data.count > 0) {
                  alert("사용불가");

                  idCheck = 1;
               }
               else if ($.trim(inputedId).length != 0 && data.count == 0 && (regex_id.test(uid))){ 
                  alert("사용가능");
                  
               
                  idCheck = 0;
               }
               
               else if ($.trim(inputedId).length != 0 && data.count == 0 && !(regex_id.test(uid))) {
                  
                  alert("사용불가. 유효하지 않은 형식 입니다.");

                  idCheck = 1;
               }
               
               check_Id();               
               
          },
          error:function(error) {
             alert("error: " + error)
          }
       });
    }); 
       
       
       var nickdata = {};
       var nickCheck;
       
       $('#checkNick').on('click', function(){
          var inputedNick = $('#nickname').val();
       data.nickname = $('#nickname').val();
       $.ajax({
          type : 'POST',
          data : data,
          url:'/member/checknick',
          
          success:function(data){
             
               if ( $.trim(inputedNick).length == 0 ) {            
                  alert("닉네임을 입력해주세요.");
               
                  nickCheck = 1;
                  
               } else if (data.nickCount > 0) {
                  alert("사용불가");
               
                  nickCheck = 1;
                  
               }
               else if ($.trim(inputedNick).length != 0 && data.nickCount == 0 && regex_nick.test(nickName)){ 
                  alert("사용가능");
   
                  nickCheck = 0;
                  
               }
               else if ($.trim(inputedNick).length != 0 && data.nickCount == 0 && !(regex_nick.test(nickName))) {
                  
                  alert("사용불가. 유효하지 않은 형식 입니다.");
               
                  nickCheck = 1;

               }
               
/*                if(idCheck == 0 && nickCheck == 0) {
               $("#signup").prop("disabled", false);
               } */
               check_Nick();
               
               
          },
          error:function(error) {
             alert("error: " + error)
          }
       });
    }); 
    
     
          $('#signup').on('click', function(){
          rePw = document.getElementById("repassword").value;
       
        if(!(idCheck ==0 && nickCheck == 0 && (pw == repw) && uid != "" && pw != "" && repw != "" && name != "" && gender != "" && email != "" && phoneNumber != "" && birth != "")) {
            alert("미입력 부분을 입력하세요.");
            for(i = 0; i < information.length; i++) {              
                    if(information[i].value == "") {
                        information[i].focus();
                        break;
                    }
            }
        } else if (idCheck == 1) {
          alert('아이디 중복체크를 해주세요.');
           document.getElementById("id").focus();
       } else if(nickCheck == 1) {
          alert('닉네임 중복체크를 해주세요.');
          document.getElementById("nickname").focus();
       }
       else if (pw != rePw) {
          alert("패스워드를 확인해주세요.");          
          document.getElementById("password").focus();
       }
       else if (idCheck ==0 && nickCheck == 0 && (pw == repw) && uid != "" && pw != "" && repw != "" && name != "" && gender != "" && email != "" && phoneNumber != "" && birth != "") {
          $("#repassword").remove();    // repassword삭제.
          $("#email1").remove();
          $("#email2").remove();
          alert("회원가입을 축하합니다.");
          $("#memberjoin").submit();
       }
       
/*        else {
         alert("미입력 부분을 입력하세요.");
           for(i = 0; i < information.length; i++) {              
                   if(information[i].value == "") {
                       information[i].focus();
                       break;
               }
       }
       } */
       
      }); 
          
 
     
 //     var information = document.getElementsByClassName("memberInsert"); 
      
      var information = document.getElementsByClassName("input100");
      var messageBox = document.getElementsByClassName("member");
      
      
         var regex_id="";
         var regex_pw="";
         var regex_name = "";
         var regex_nick ="";
         var regex_phone="";
         var regexArr = [regex_id, regex_pw, regex_name, regex_nick];
      
          var uid;
          var pw;
          var rePw;
          var name;
          var birth;
          var nickName;
          var phoneNumber;
          var gender;
          var email;
          
            function check_Id() {
            uid = document.getElementById("id").value;
            regex_id = /^[A-Za-z0-9+]{4,12}$/  
            document.getElementById("enterId").innerHTML = "";

            
          if ( uid == "") {
             //document.getElementById("id").focus();
             document.getElementById("enterId").innerHTML = "아이디를 입력해주세요."; 
             document.getElementById("enterId").style.color = "#f30e0e";
          }  
          if ( !(regex_id.test(uid)) && uid !== "" ) {
             document.getElementById("enterId").innerHTML = "4~12자리 영어,숫자를 사용하여 아이디를 설정해주세요.";
             document.getElementById("enterId").style.color = "#f30e0e";
          } else if ( regex_id.test(uid) && idCheck == 1 ) {
             document.getElementById("enterId").innerHTML="이미 사용되고 있는 아이디 입니다.";
             document.getElementById("enterId").style.color = "#f30e0e";
          }  else if ( regex_id.test(uid) && idCheck == 2 ) {
              document.getElementById("enterId").innerHTML="아이디 중복체크를 해주세요.";
              document.getElementById("enterId").style.color = "#f30e0e";
          }  else if ( regex_id.test(uid) && idCheck == 0 ) {
              
        	  document.getElementById("enterId").innerHTML = "id ok";
        	  document.getElementById("enterId").style.color = "#0392f4";
 //        	  document.getElementById("enterId").style.fontSize = "11pt";
 //           document.getElementById("pointid").value = uid;
          }            
      }
          
      function check_Pw() {
    	
    	uid = document.getElementById("id").value;       
        pw = document.getElementById("password").value;
        regex_pw=/^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{4,12}$/
        
          if(pw==="" && uid !== ""){
           // document.getElementById("password").focus();
        	  document.getElementById("enterPw").innerHTML="비밀번호를 입력하세요";
        	  document.getElementById("enterPw").style.color = "#f30e0e";
         	}
          
          else if ( !(regex_pw.test(pw)) && uid !== "" ) {
            document.getElementById("enterPw").innerHTML = "4~12자리 영어,숫자를 사용하여 비밀번호를 설정 해주세요. ";
            document.getElementById("enterPw").style.color = "#f30e0e";
         	} else if ( regex_pw.test(pw)) {         
       	    document.getElementById("enterPw").innerHTML = "password ok";
       	    document.getElementById("enterPw").style.color = "#0392f4";
         	} 
      }
      
      

      function check_RePw() {
          pw = document.getElementById("password").value;
          rePw = document.getElementById("repassword").value;
          
          if(pw === rePw && pw.length >= 1) { 
        	  document.getElementById("enterRePw").innerHTML = "비밀번호가 일치합니다";
        	  document.getElementById("enterRePw").style.color = "#0392f4";
        	  } else if (rePw == "" && pw != "") {
        		 document.getElementById("enterRePw").innerHTML = "비밀번호를 입력하세요";
        		 document.getElementById("enterRePw").style.color = "#f30e0e";
        	  } else if (rePw != pw) {
        		 document.getElementById("enterRePw").innerHTML = "비밀번호가 일치하지 않습니다.";
        		 document.getElementById("enterRePw").style.color = "#f30e0e";
        	  }        
      }
      
     
      
      function check_Name() {
       
       repw = document.getElementById("repassword").value;
       name = document.getElementById("name").value;
       regex_name = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]$/
             
       if(name==="" && repw != ""){
               // document.getElementById("password").focus();
            	  document.getElementById("enterName").innerHTML="이름을 입력하세요";
            	  document.getElementById("enterName").style.color = "#f30e0e";
             	}
              
       else if ( !(regex_name.test(name)) && repw !== "" ) {
                document.getElementById("enterName").innerHTML = "한글로 입력해주세요.";
                document.getElementById("enterName").style.color = "#f30e0e";
             	} else if ( regex_name.test(name)) {         
           	    document.getElementById("enterName").innerHTML = "name ok";
           	    document.getElementById("enterName").style.color = "#0392f4";
             	} 
          	}       
         
      
     
           
        function check_Birth() {
        
          name = document.getElementById("name").value;
          birth = document.getElementById("birth").value;
          
                       
           if((birth==="" || birth===null) && name !== ""){
                document.getElementById("enterBirth").innerHTML="날짜를 입력하세요";
                document.getElementById("enterBirth").style.color = "#f30e0e";
                } else {
                 document.getElementById("enterBirth").innerHTML="ok";
                 document.getElementById("enterBirth").style.color = "#0392f4";
                }
             }
      
      
        function check_Nick() {
        
          birth = document.getElementById("birth").value;
          nickName = document.getElementById("nickname").value;
          regex_nick = /^[a-z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]{2,21}$/
             
              if ( nickName == "" && (birth === "" || birth === null)) {
                  //document.getElementById("id").focus();
                  document.getElementById("enterNick").innerHTML = "닉네임을 입력해주세요."; 
                  document.getElementById("enterNick").style.color = "#f30e0e";
               }  
              else if ( !(regex_nick.test(nickName)) && nickName !== "" ) {
                  document.getElementById("enterNick").innerHTML = "유효하지 않은 형식 입니다.";
                  document.getElementById("enterNick").style.color = "#f30e0e";
               } else if ( regex_nick.test(nickName) && nickCheck == 1 ) {
                  document.getElementById("enterNick").innerHTML="이미 사용되고 있는 닉네임 입니다.";
                  document.getElementById("enterNick").style.color = "#f30e0e";
               }  else if ( regex_nick.test(nickName) && nickCheck == 2 ) {
                   document.getElementById("enterNick").innerHTML="닉네임 중복체크를 해주세요.";
                   document.getElementById("enterNick").style.color = "#f30e0e";
               }  else if ( regex_nick.test(nickName) && nickCheck == 0 ) {
                   
             	  document.getElementById("enterNick").innerHTML = "nickname ok";
             	  document.getElementById("enterNick").style.color = "#0392f4";
      //           document.getElementById("enterId").style.fontSize = "11pt";
      //           document.getElementById("pointid").value = uid;
               }       
             
       }
        
        function check_Gender() {
            
            nickName = document.getElementById("nickname").value;
            gender = document.getElementById("gender").value;
                                   
             if(!($('input:radio[name=gender]').is(':checked')) && nickName !== ""){
                  document.getElementById("enterGender").innerHTML="성별을 선택하세요";
                  document.getElementById("enterGender").style.color = "#f30e0e";
                  } else {
                   document.getElementById("enterGender").innerHTML="ok";
                   document.getElementById("enterGender").style.color = "#0392f4";
                  }
               }
        
        function check_Email() {
            
            gender = document.getElementById("gender").value;
            email = document.getElementById("email").value;
            
                         
             if(($('input:radio[name=gender]').is(':checked')) && email == ""){
                  document.getElementById("enterEmail").innerHTML="이메일을 입력하세요.";
                  document.getElementById("enterEmail").style.color = "#f30e0e";
                  } else {
                   document.getElementById("enterEmail").innerHTML="email ok";
                   document.getElementById("enterEmail").style.color = "#0392f4";
                  }
               }
        
       
       function check_Phone(){
              email = document.getElementById("email").value;
              phoneNumber = document.getElementById("phonenumber").value;
              regex_phone = /^[0-9]{10,11}$/
                
                  if ( phonenumber == "" && (email != "" || email != "@")) {
                        document.getElementById("enterPhone").innerHTML = "핸드폰번호를 입력해주세요.";
                        document.getElementById("enterPhone").style.color = "#f30e0e";
                     } else if ( !(regex_phone.test(phoneNumber)) && phoneNumber != "") {
                        document.getElementById("enterPhone").innerHTML = "유효하지 않은 형식 입니다.";
                        document.getElementById("enterPhone").style.color = "#f30e0e";
                     }  else if ( regex_phone.test(phoneNumber)) {
                        document.getElementById("enterPhone").innerHTML = "ok";
                        document.getElementById("enterPhone").style.color = "#0392f4";
                     }   
          }
       
            
      function remove_Message() { 

    	  for ( i = 0; i < information.length; i++) {
        	   if (information[i] === event.target) {
                 messageBox[i].innerHTML = "";
                 this.innerHTML = "";      
                if(i==0) {idCheck = 2;}
                if(i==5) {nickCheck = 2;}
              }
          } 
      } 
     
            
         
    function email_change(obj){
          if(obj.options[obj.selectedIndex].value=='0'){
            document.getElementById("email2").disabled = true;      
            document.getElementById("email2").value=""; 
          
          }else if(obj.options[obj.selectedIndex].value =='9'){
             document.getElementById("email2").disabled = false;
             document.getElementById("email2").value=""; 
             document.getElementById("email2").focus(); 
                 
            }else{
 
           document.getElementById("email2").disabled = false;
           document.getElementById("email2").value = obj.options[obj.selectedIndex].value;
   
            }         
         }
       
       function emailvalue() {
    	   
    	   document.getElementById("email").value = document.getElementById("email1").value + "@" +document.getElementById("email2").value;
    	   email = document.getElementById("email").value;
    	   
    	   if(($('input:radio[name=gender]').is(':checked')) && (email == "@")){
               document.getElementById("enterEmail").innerHTML="이메일을 입력하세요.";
               document.getElementById("enterEmail").style.color = "#f30e0e";
               }
    	   
           else if (email != "@" && document.getElementById("email1").value != "" && document.getElementById("email2").value == ""){
               document.getElementById("enterEmail").innerHTML="주소를 입력하세요. ";
               document.getElementById("enterEmail").style.color = "#f30e0e";            
              }
          
           else if (email != "@" && document.getElementById("email1").value != "" && document.getElementById("email2").value != ""){
               document.getElementById("enterEmail").innerHTML="email ok";
               document.getElementById("enterEmail").style.color = "#0392f4";            
              }
    	   
    	   
       }
       

       function addInterestLocation_join() {
       	
           
       	new daum.Postcode({
               oncomplete: function(data) {

                   var roadAddr = data.roadAddress; // 도로명 주소 변수
                   var jibunAddress = data.jibunAddress;
                   var road = data.roadname;
                   var sido = data.sido;
                   var sigungu = data.sigungu;
                   var dong = data.bname;
                   var upmyeonli = data.bname1;
                   
                   var dongaddress = sido + "" + sigungu  + "" + dong + "" + upmyeonli;
                   var doroaddress = sido + sigungu + road;
                   
                   var extraRoadAddr = ''; // 참고 항목 변수
   					
                   if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                       extraRoadAddr += data.bname;
                   }

                   if(data.buildingName !== '' && data.apartment === 'Y'){
                      extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                   }

                   

                   var guideTextBox = document.getElementById("guide");
                   
                   if(data.autoRoadAddress) {
                       var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                       guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                       guideTextBox.style.display = 'block';

                   } else {
                       guideTextBox.innerHTML = '';
                       guideTextBox.style.display = 'none';
                      	
                    var locValue = "<input class = 'memberinterest' type = 'text' id = 'interestlocation" +count+ 
                   	"' name = 'interestlocation[" + count + 
                    "].interestLocation'> <button type ='button' class = 'memberinterest' id = 'del" + count + "' value = '삭제' onclick = 'deleteLocation_join(" + count + ")' style = 'padding:0'>X</button>"
                   	$('#loc').append(locValue);

                   	document.getElementById("loc").style.height = "100%";
                   	
/*                     	var locText = "<div id = 'selloc' ><ul><li>" +dongaddress+ "</li></ul></div>"
                   	$('#loc').append(locText); */
                   	                 	
                   	document.getElementById("interestlocation"+count).value = dongaddress;
                   					
   					count++;
   					
                   }
               	
               } 
           }).open();
       }
       
        function deleteLocation_join(num) {
   		var standard = num;
   		$('#interestlocation' + standard).remove(); 
   		$('#del' + standard).remove(); 
   		
   		if(document.getElementsByClassName("memberinterest").length == 0 ) {
   			document.getElementById("loc").style.height = "50px";
   		}
   		


       } 
       
       
       
      
</script>
</div> 
</div>
</div>


</body>
</html>