<!-- 
  @author 신상용 
  @since 2019. 2. 14
  @version
  -preview.html 추가
 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>

</head>
 <body>

	<div class="contaniner text-center">

		<h3>작성중인 글을 미리 보여주는 화면입니다.</h3>
		<div class="inbox">
			<div>
				<span>제목 : </span><span id="previewTitle"></span>
			</div>
			<div>
				<span>작성자 : </span><span id="previewWriter"></span>
			</div>
			<div>
				<span>내용: </span>
			</div>
			<div>
			<textarea id="previewContent"
				style="resize: none; width: 443px; height: 441px;" readonly></textarea>
		    </div>
		</div>
		<button class="btn btn-default" id="closePreview" type="button">확인</button>
		
	</div>


 <script type="text/javascript">
	 
 $(document).ready(function(){
  	
		 var pvTitle = opener.document.getElementById("boardTitle").value;
		
		 var pvId = opener.document.getElementById("boardWriter").value;
		 
		 var pvContent = opener.document.getElementById("smarteditor").value;
		
		  $("#previewTitle").text(pvTitle);
		  $("#previewWriter").text(pvId);
		  $("#previewContent").text(pvContent);
		       
		  $("#closePreview").click(function(){
			
		    	window.close(); 
		    	
		  });
 });

 </script>
 
 
 
 </body>
</html>