<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
 layout:decorate="~{/layout/studypageLayout}"
>
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>스터디 메인 페이지 입니다.</title>
</head>
<body>
    <div id="right" layout:fragment="right">
                <div id="noticeBoard">
                	<table>
                		<tr>
	                		<td>공지사항 페이지 고유번호</td>
							<td>스터디 ID</td>
							<td>게시글 번호</td>
							<td>제목</td>
							<td>내용</td>
							<td>작성일</td>
							<td>작성자</td>
							<td>진행 날짜</td>
							<td>위치</td>
						</tr>
						<tr th:each="snb : ${studynoticeboard3result}">
							<td th:text = "${snb.studyNoticeboardId}"></td>
							<td th:text = "${snb.studyId}"></td>
							<td th:text = "${snb.number}"></td>
							<td><a th:href="@{/StudyPage/Noticeboard}" th:text="${snb.title}"></a></td>
							<td th:text = "${snb.content}"></td>
							<td th:text = "${snb.date}"></td>
							<td th:text = "${snb.id}"></td>
							<td th:text = "${snb.day}"></td>
							<td th:text = "${snb.location}"></td>
                		</tr>
                		<tr th:each="snb : ${study}">
                			<td th:text = "${snb.studyId}"></td>
                	</table>
                </div>
                <div id="joinMember">
                	<div>
                		<div:inline-block th:each="fbsm : ${findbystudymember}">
                				<span th:each="member : ${fbsm.Member}">
	                					<tr><th th:text="${member.profileSaveName}"></th></tr>
	                			</span>
                		</div:inline-block>
                	</div>
                	<div>
                		<div:inline-block th:each="fbsm : ${findbystudymember}">
                				<span th:each="member : ${fbsm.Member}">
	                					<tr><th th:text="${member.nickname}"></th></tr>
	                			</span>
                		</div:inline-block>
                	</div>
                </div>
                <div id="double">
                        <div id="qnaBoard">
                       		<table>
		                		<tr>
			                		<td>QnA 페이지 고유번호</td>
									<td>스터디 ID</td>
									<td>게시글 번호</td>
									<td>제목</td>
									<td>내용</td>
									<td>작성일</td>
									<td>작성자</td>
								</tr>
								<tr th:each="sqb : ${studyqnaboard3result}">
									<td th:text = "${sqb.studyQnaboardId}"></td>
									<td th:text = "${sqb.studyId}"></td>
									<td th:text = "${sqb.number}"></td>
									<td><a th:href="@{/StudyPage/Noticeboard}" th:text="${sqb.title}"></a></td>
									<td th:text = "${sqb.content}"></td>
									<td th:text = "${sqb.date}"></td>
									<td th:text = "${sqb.id}"></td>
		                		</tr>
                			</table>
                        </div>
                        <div id="ing">
                        </div>
                      </div>
  
 
		</div>
		
	
</body>
</html>