<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
layout:decorate="~{/layout/mainLayout}">
<head>
<meta charset="UTF-8">
<title>스터디 메인 페이지 입니다.</title>
<link rel = "stylesheet" type = "text/css" th:href = "@{/css/studymainpage.css}">
</head>
<body>
	<div id="main" layout:fragment = "main">
        <div id="leftright">
            <div id="left">
            	<a href="StudyPageMain">home</a></br>
            	<a href="StudyNoticeboard">공지사항</a></br>
            	<a href="StudyFileshareboard">파일 공유</a></br>
            	<a href="StudyQnaboard">질문 및 답변</a></br>
            </div>
            <div id="right">
                <div id="noticeBoard">
                	<table>
                		<tr>
	                		<td>공지사항 페이지 고유번호</td>
							<td>스터디 ID</td>
							<td>게시글 번호</td>
							<td>제목</td>
							<td>내용</td>
							<td>작성일</td>
							<td>작성자</td>
							<!-- <td>시작시간</td>
							<td>종료시간</td> -->
							<td>진행 날짜</td>
							<td>위치</td>
							<!-- <td>덧글번호</td>
							<td>덧글 번호가 속한 스터디 ID</td>
							<td>덧글 작성 일자</td>
							<td>group</td>
							<td>step</td> -->
						</tr>
						<tr th:each="snb : ${studynoticeboard3result}">
							<td th:text = "${snb.studyNoticeboardId}"></td>
							<td th:text = "${snb.studyId}"></td>
							<td th:text = "${snb.number}"></td>
							<td th:text = "${snb.title}"></td>
							<td th:text = "${snb.content}"></td>
							<td th:text = "${snb.date}"></td>
							<td th:text = "${snb.id}"></td>
							<!-- <td th:text = "${tmp.startTime}"></td>
							<td th:text = "${tmp.endTime}"></td> -->
							<td th:text = "${snb.day}"></td>
							<td th:text = "${snb.location}"></td>
                		</tr>
                	</table>
                </div>
                <div id="joinMember">
                </div>
                <div id="double">
                        <div id="qnaBoard">
                       		<table>
		                		<tr>
			                		<td>QnA 페이지 고유번호</td>
									<td>스터디 ID</td>
									<td>게시글 번호</td>
									<td>제목</td>
									<td>내용</td>
									<td>작성일</td>
									<td>작성자</td>
								</tr>
								<tr th:each="sqb : ${studyqnaboard3result}">
									<td th:text = "${sqb.studyNoticeboardId}"></td>
									<td th:text = "${sqb.studyId}"></td>
									<td th:text = "${sqb.number}"></td>
									<td th:text = "${sqb.title}"></td>
									<td th:text = "${sqb.content}"></td>
									<td th:text = "${sqb.date}"></td>
									<td th:text = "${sqb.id}"></td>
		                		</tr>
                			</table>
                        </div>
                        <div id="ing">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" layout:fragment = "footer"></div>
</body>
</html>