<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
 layout:decorate="~{/layout/studypageLayout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>스터디 파일공유 게시판 입니다.</title>
<link rel = "stylesheet" type = "text/css" th:href = "@{/css/studymainpage.css}">
</head>
<body>
	<div id="main" layout:fragment = "main">
	</div>
	<div id="right" layout:fragment="right">
		<table>
			<tr>
				<td>프로필 사진</td>
				<td>작성자</td>
				<td>제목</td>
				<td>작성일시</td>
			</tr>
			<tr th:each="fasf : ${findAllStudyFileshareboard}">
				<td th:text = "${fasf.studyMember.member.profileSaveName}"></td>
				<td th:text = "${fasf.studyMember.member.nickname}"></td>
				<td><a th:href="@{/StudyPage/Noticeboard}" th:text="${fasf.title}"></a></td>
				<td th:text = "${#dates.format(fasf.date, 'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</table>
	</div>
</body>
</html>