<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" type = "text/css" th:href = "@{/css/studymainpage.css}">
</head>
<body>
	<div id="main">
        <div id="head">
            <div class="il2"><br></div>
            <div class="il">Study Republic</div>
            <div class="il2">
                    <div class="headright">페이지 선택</div>
                    <div class="headright">알림</div>
                    <div class="headright">프로필 사진</div>
            </div>
        </div>
        <div id="leftright">
            <div id="left">
            </div>
            <div id="right">
                <div id="noticeBoard">
                	<table>
                		<tr>
	                		<td>공지사항 페이지 고유번호</td>
							<td>스터디 ID</td>
							<td>게시글 번호</td>
							<td>제목</td>
							<td>내용</td>
							<td>작성일</td>
							<td>작성자</td>
							<td>시작시간</td>
							<td>종료시간</td>
							<td>진행 날짜</td>
							<td>위치</td>
							<td>덧글번호</td>
							<td>덧글 번호가 속한 스터디 ID</td>
							<td>덧글 작성 일자</td>
							<td>group</td>
							<td>step</td>
						</tr>
						<tr th:each="tmp : ${tmp}">
							<td th:text = "${tmp.studyNoticeboardId}"></td>
							<td th:text = "${tmp.studyId}"></td>
							<td th:text = "${tmp.number}"></td>
							<td th:text = "${tmp.title}"></td>
							<td th:text = "${tmp.content}"></td>
							<td th:text = "${tmp.date}"></td>
							<td th:text = "${tmp.id}"></td>
							<td th:text = "${tmp.startTime}"></td>
							<td th:text = "${tmp.endTime}"></td>
							<td th:text = "${tmp.day}"></td>
							<td th:text = "${tmp.location}"></td>
							<td th:text = "${tmp.studyNoticeboardReply}"></td>
                		</tr>
                	</table>
                </div>
               <!--  <div id="joinMember">
                </div>
                <div id="double">
                        <div id="qnaBoard"></div>
                        <div id="ing"></div>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>