<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>



   <title>Login</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/> 
<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<body>
<h1>Login</h1>
<div class="container unauthenticated">
	<div>
	With Facebook: <a href="/login/facebook">click here</a>
	</div>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
</div>

<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(function() {
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
});
    
    
    
    
    $.get("/user", function(data) {
        $("#user").html(data.userAuthentication.details.name);
        $(".unauthenticated").hide()
        $(".authenticated").show()
    });
    
    $.ajaxSetup({
    	beforeSend : function(xhr, settings) {
    	  if (settings.type == 'POST' || settings.type == 'PUT'
    	      || settings.type == 'DELETE') {
    	    if (!(/^http:.*/.test(settings.url) || /^https:.*/
    	        .test(settings.url))) {
    	      // Only send the token to relative URLs i.e. locally.
    	      xhr.setRequestHeader("X-XSRF-TOKEN",
    	          Cookies.get('XSRF-TOKEN'));
    	    }
    	  }
    	}
    	});
    
</script>


</body>
</html>