<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/mainLayout}">
<head>



	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Login_v18/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v18/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v18/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Login_v18/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
 <div id = "wrapper"> 
<div layout:fragment = "main">
<div class = "inner"> 


	<div class="limiter">
				

				
				<form class="login100-form validate-form" method="post" autocomplete = "off">
				
					<span th:if="${param.logout == null}"class="login100-form-title p-b-43">
						Login to continue
					</span>
				


					
					
					<div class="wrap-input100 validate-input" data-validate = "아이디를 입력해주세요.">
						<input class="input100" type="text" id="username" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">ID</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="비밀번호를 입력해주세요.">
						<input class="input100" type="password" id="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
					
					
					<span th:if="${param.error != null}" class="login100-form-title-error p-b-43">
						아이디 또는 비밀번호가 일치하지 않습니다.
					</span>
					

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input type = "checkbox"  class="input-checkbox100" id = "remember-me" name = "remember-me" style = "display:none"> 
							<label class="label-checkbox100" for="remember-me">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
					
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
					
				</form>
			</div>

	</div> 
	<div>  
	</div> 

	
	
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/bootstrap/js/popper.js"></script>
	<script src="/Login_v18/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/daterangepicker/moment.min.js"></script>
	<script src="/Login_v18/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v18/js/main.js"></script>

</body>
</html>