<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/mainLayout}">
<head>



   <title>Login</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/> 
<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	
<!--===============================================================================================-->   
   <link rel="icon" type="image/png" href="/Login_v18/images/icons/favicon.ico"/>
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animate/animate.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/select2/select2.min.css">
<!--===============================================================================================-->   
   <link rel="stylesheet" type="text/css" href="/Login_v18/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/Login_v18/css/util.css">
   <link rel="stylesheet" type="text/css" href="/Login_v18/css/main.css">
<!--===============================================================================================-->

</head>
<body>
   
 <div id = "wrapper"> 
<div layout:fragment = "main">
<div class = "inner"> 


   <div class="limiter">
            

            
             <form id = "modifyPw" class = "login100-form validate-form" action = "/member/modifyPassword"  method="post" autocomplete = "off" style = "padding:0; width:500px; height:550px; overflow-x:unset">
               
                <span th:if="${param.logout == null}"class="login100-form-title p-b-43"  style = "line-height:6; height:150px">
                   		 비밀번호재설정
               </span>
               
               <span th:if="${param.logout == null}"class="login100-form-title p-b-43" style = "font-size:14px;">
                  4~12자리 영어,숫자를 사용하여 비밀번호를 재설정 해주세요. <br>
               </span>
               
               <input type = "text" name = "id" th:value = "${id}" style = "display:none">
               
               
               <div class="wrap-input100_findpw" >
               <input class="input100" type="password" id="password" name="password" onkeyup = "removePwMs()" onblur = "check_Pw()">
                  <span class="focus-input100"></span>
                  <span class="label-input100">비밀번호</span>
               </div>
               
               <span id = "spanPw" th:if="${param.logout == null}"class="login100-form-title p-b-43" style = "font-size:10px; display:none; padding-bottom:12px; display:none; color:red" >
                 	 유효하지 않은 형식입니다.   
               </span>
               
               <div class="wrap-input100_findpw" >
               <input class="input100" type="password" id="repassword" name="repassword" onkeyup = "removeRePwMs()" onblur = "check_RePw()">
                  <span class="focus-input100"></span>
                  <span class="label-input100">비밀번호확인</span>
               </div>
               
               <span id = "spanRePw" th:if="${param.logout == null}"class="login100-form-title p-b-43" style = "font-size:10px;padding-bottom:12px; display:none; color:red">
           비밀번호가 일치하지 않습니다.  
               </span>
               
               <span id = "spaninfo" th:if="${param.logout == null}"class="login100-form-title p-b-43" style = "font-size:10px;  padding-bottom:12px; display:none; color:red">
                  비밀번호를 입력하세요.   
               </span>
               

               
               <div class="container-login100-form-btn_findpw" style = "margin-bottom:35px;">
                  <button id = "change" type="button" class="login100-form-btn">
                        비밀번호변경
                  </button>
               </div>
               
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
               
                </form>
         </div>



   </div> 
   <div>  
   </div> 


   
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/bootstrap/js/popper.js"></script>
   <script src="/Login_v18/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/daterangepicker/moment.min.js"></script>
   <script src="/Login_v18/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
   <script src="/Login_v18/js/main.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
   <script>

   var regex_pw = /^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{4,12}$/
   var password = "";
   var repassword = "";
   
  function check_Pw() {
       password = document.getElementById("password").value;
       regex_pw = /^[a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\-\_\+\=]{4,12}$/  
       
  	if ( !(regex_pw.test(password)) && password !== "" ) {
          	 document.getElementById('spanPw').style.display = 'block';	
          	 document.getElementById('spaninfo').style.display = 'none';

            }
       
   }
   
   
   function check_RePw(){
	   repassword = document.getElementById("repassword").value;
 
      	 if ( password != repassword ) {
      		 document.getElementById('spanRePw').style.display = 'block';	
      		 document.getElementById('spaninfo').style.display = 'none';
  
            }
       
   }
   
   $('#change').on('click', function(){
	     
    	if((password == repassword) && regex_pw.test(password)) {
           	Swal.fire({
				type: 'success',
				title: '',
			 	text: '비밀번호가 변경되었습니다.',
			}) 
    		document.getElementById('spaninfo').style.display = 'none';
    		$('#modifyPw').submit();
    		
    	}  else if (password == "" || repassword == ""){
    	
   		 	document.getElementById('spaninfo').style.display = 'block';
    		
    	}
   	 
    });
    
/*     function removems() {
   	 document.getElementById('spaninfo').style.display = 'none';

    } */
    
    function removePwMs() {
   	 document.getElementById('spanPw').style.display = 'none';
    }
    
    function removeRePwMs() {
   	 document.getElementById('spanRePw').style.display = 'none';
    }

   </script>

</div>
</div>


</body>
</html>