<!-- 
  @author 윤원식
  @since 2019. 1. 24.
  @version
  -list.html 추가
 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>게시판 글목록</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


<style>
.boardName {
	margin: 100px 0px 50px 50px;
}

th, td, .search {
	text-align: center;
}

select {
	width: 100px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.notice {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: right;
}

.writeBtn {
	text-align: right;
}

#nt {
	margin-right: 10px;
}

#ntc {
	margin-right: 20px;
}

input[type=checkbox] {
	transform: scale(1.5);
}


#searchType, #searchPeriod {
	width: 150px;
	height: 38px;
	padding-left: 25px;
	margin: 10px 10px 50px 0px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

#keyword {
	width: 300px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	padding: 12px 10px 12px 10px;
}

#searchBtn {
	width: 50px;
	height: 40px;
	font-weight: bold;
	font-siez: 16px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}


</style>

</head>

<body>
 
	<div class="container">
     <!--게시판 타이틀  -->
		<div class="boardName">
			<h1>
				<strong th:text="${boardName}"></strong>
			</h1>
		</div>
		<!--게시판 타이틀 끝  -->
		
         <!--공지 숨기기, 한페이지 갯수  -->
		 <div class="notice">
			<input id="nt" type="checkbox" name="notice"><span id="ntc">공지 숨기기</span>
			<select style="text-align: center" class="text-center">
				<option value="15">15개씩</option>
				<option value="30">30개씩</option>
				<option value="50">50개씩</option>
			</select>
		</div>
         <!--공지 숨기기, 한페이지 갯수 끝  -->
         
         <!--테이블  -->
		<div th:with="result=${list.list}">
           <div class="table">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th class="col-sm-1">번호</th>
						<th class="col-sm-5">제목</th>
						<th class="col-sm-2">작성자</th>
						<th class="col-sm-2">작성일</th>
						<th class="col-sm-1">조회수</th>
						<th class="col-sm-1">추천</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="board:${result.content}">
						<td class="col-sm-1">[[${board.freeBoardId}]]</td>
						<td class="text-left col-sm-5"><a th:href='${board.freeBoardId}'
							class="boardLink">[[${board.title}]]</a></td>
						<td class="col-sm-2">[[${board.id}]]</td>
						<td class="col-sm-2">[[${#dates.format(board.date,'yyyy-MM-dd
							HH:mm')}]]</td>
						<td class="col-sm-1">[[${board.hit}]]</td>
						<td class="col-sm-1">[[${board.likeCount}]]</td>

					</tr>
				</tbody>
			 </table>
			</div>
         <!--테이블 끝  -->


			<div class="writeBtn">
				<a class="btn btn-primary" id="writeBtn" th:href="@{writeBoard}" role="button">글쓰기</a>
			</div>


			<!-- 페이징   -->

		<nav>
			<div class="text-center">
				<ul class="pagination">

					<li th:if="${list.prevPage}"><a
						th:href="${list.prevPage.pageNumber}+ 1"> 〈&nbsp&nbsp이전 </a>
					<li class="page-item" th:classappend="${p.pageNumber ==list.currentPageNum-1}?active:''" th:each="p:${list.pageList}"><a
						th:href="${p.pageNumber} +1">[[${p.pageNumber} + 1]]</a></li>

					<li th:if="${list.nextPage}"><a
						th:href="${list.nextPage.pageNumber}+ 1"> 다음&nbsp&nbsp〉 </a>
				</ul>
			</div>
		</nav>
		
		<!--페이징 끝  -->


         <!--검색기능  -->
			<div class="search">
				
				<select id="searchPeriod">
					<option value="allDay"
						>전체기간</option>
					<option value="weak"
						>1주</option>
					<option value="month"
						>1개월</option>
					<option value="sMonth"
						>6개월</option>
				</select> 
				
				<select id="searchType">
					<option value="all" th:selected="${pageDTO.searchType} =='all'">제목+내용</option>
					<option value="title" th:selected="${pageDTO.searchType} =='title'">제목</option>
					<option value="content" th:selected="${pageDTO.searchType} =='content'">내용</option>
					<option value="writer" th:selected="${pageDTO.searchType} =='writer'">작성자</option>
				</select> 
				
				<input type="text" id="keyword" th:value="${pageDTO.keyword}"
					placeholder="검색어를 입력해주세요.">
				
				<button id="searchBtn">검색</button>


			</div>
         	<!--검색기능 끝 -->
			
			
			

		<form id="f1" th:action="@{listFreeBoard}" method="get">
			<input type="hidden" name="page" th:value=${list.currentPageNum}>
			<input type="hidden" name="size" th:value=${list.currentPage.pageSize}> 
			<input type="hidden" name="searchType" th:value=${pageDTO.searchType}> 
			<input type="hidden" name="keyword" th:value=${pageDTO.keyword}>

		</form>

	</div>
	</div>
</body>


<script th:inline="javascript">

     $(document).ready(function() {
		var formObj = $("#f1");

		$(".pagination a").click(function(e) {

			e.preventDefault();

			formObj.find('[name="page"]').val($(this).attr('href'));

			formObj.submit();
		});
		
		
		$(".boardLink").click(function(e){
			
			e.preventDefault();
			
			var boardNo = $(this).attr("href");
			
			formObj.attr("action",[[@{'/board/viewFreeBoard'}]]);
			formObj.append("<input type='hidden' name='freeBoardId' value='"+ boardNo + "'>");
			
			formObj.submit();
		});
		
		
		
		
		$("#searchBtn").click(function(e){
			
			var typeStr = $("#searchType").find(":selected").val();
			var keywordStr = $("#keyword").val();
			
			formObj.find("[name='searchType']").val(typeStr);
			formObj.find("[name='keyword']").val(keywordStr);
			formObj.find("[name='page']").val("1");
			formObj.submit();
		});
		
		
		$("#keyword").keyup(function(e){
			if(e.keyCode == 13)  {
				
				var typeStr = $("#searchType").find(":selected").val();
				var keywordStr = $("#keyword").val();
				
				formObj.find("[name='searchType']").val(typeStr);
				formObj.find("[name='keyword']").val(keywordStr);
				formObj.find("[name='page']").val("1");
				formObj.submit();
			}
				
			
		});

		
		
	
	});
	
	
</script>